<?=Js::script('var categorias = '.(($this->categorias) ? json_encode($this->categorias) : 'false').';');?>
<?=$this->render($this->section."/search.phtml");?>

<div class="<?-$this->section?> search-result">
    <? if($this->rows){ ?>
    <table>
        <thead>
            <tr>
                <td>Título</td>
                <td width="400">Conteúdo</td>
                <td width="100" align="center">Última alteração</td>
                <td width="50" align="center">Status</td>
                <? if($this->login->user->role != 3) { ?>
                <? if(!$this->busca){ ?>
                <td width="70" align="center">Ordem</td>
                <? } ?>
                <td width="50" align="center">Excluir</td>
                <? } ?>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->rows as $row){ ?>
            <? $data_cad = explode(" ",$row->data_edit); $data_cad = Is_Date::am2br($data_cad[0]); ?>
            <? $status = $row->status_id == 0 ? "Inativo" : "Ativo"; ?>
            <tr>
                <td>
                    <a href="<?=$this->url.'/edit/'.$row->id?>"><?=$row->{'titulo_'.$this->lang}?></a>
                </td>
                <td>
                    <a href="<?=$this->url.'/edit/'.$row->id?>"><?=Is_Str::crop(strip_tags(Is_Str::br2nl($row->{'body_'.$this->lang}," ")),80)?></a>
                </td>
                <td align="center">
                    <a href="<?=$this->url.'/edit/'.$row->id?>"><?=$data_cad?></a>
                </td>
                <td align="center">
                    <a href="<?=$this->url.'/edit/'.$row->id?>"><?=$status?></a>
                </td>
                <? if($this->login->user->role != 3) { ?>
                <? if(!$this->busca){ ?>
                <td width="70" align="center">
                    <a href="#" class="row-order order-up" title="Clique ou arraste para ordenar"></a><a href="#" class="row-order order-down" title="Clique ou arraste para ordenar"></a>
                    <input type="hidden" class="row-id" name="id[]" value="<?=$row->id?>" />
                    <input type="hidden" class="txt row-ordem" name="ordem[]" value="<?=$row->ordem?>" />
                </td>
                <? } ?>
                <td align="center">
                    <a href="<?=$this->url.'/del/id/'.$row->id?>" class="del">X</a>
                </td>
                <? } ?>
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    Nenhum registro.
    <? } ?>
</div>

<br clear="all" />
<?=$this->paginacao->render()?>