    <div id="mostras-interna" class="centro">
        <h1 class="titulo"><?=$this->translate('mostras')?></h1>

        <? $row = $this->row; ?>
        <div class="right">
            <h3>
                <?=$this->translateDb($row,'titulo')?>
                <?=((bool)$row->cliente)?' - '.$row->cliente:''?>
            </h3>
            <p><?=nl2br($this->translateDb($row,'descricao'))?></p>

            <a href="<?=URL?>/mostras"><?=$this->translate('mostras_voltar')?></a>
        </div>

        <? if ((bool)$row->fotos) { ?>
        <div class="left">
            <? foreach ($row->fotos as $foto) { ?>
            <a class="lightbox" rel="group" href="<?=URL.'/img/mostras:'.$foto->path?>">
                <img src="<?=URL.'/img/mostras:'.$foto->path?>" alt="">
            </a>
            <? } ?>
        </div>
        <? } ?>

        <a href="<?=URL?>/mostras" class="voltar-mobile"><?=$this->translate('mostras_voltar')?></a>

    </div>