<div id="content-left">
	<section id="texto1">
		<?=$this->translateDb($this->pagina,'texto1')?>
	</section>
	
	<section id="ideacao_passos" class="<?=$this->lang?>">
		<h2><span><?=$this->translate('ideacao_passoapasso')?></span></h2>
	
		<? $i=0; foreach($this->ideacao_passos as $passo){ $i++; ?>
		<div id="ideacao_passo_<?=$i?>" class="ideacao_passo">
			<span class="icone"></span>
			<span class="semana"></span>
			<div class="conteudo">
				<h3><?=$this->translateDb($passo,'titulo')?></h3>
				<? if((bool)trim($this->translateDb($passo,'body'))){ ?>
				&bull; <?=$this->translateDb($passo,'body')?>
				<? } ?>
			</div>
		</div>
		<? } ?>
	</section>
</div>

<div id="content-right">
    <? $foto = ((bool)$this->translateDb($this->pagina,'foto1')) ? $this->translateDb($this->pagina,'foto1') : 'video-impressao3d.jpg'; ?>
    <? $video = ((bool)trim($this->translateDb($this->pagina,'video')) ? $this->translateDb($this->pagina,'video') : '#'); ?>
    <? if($video!='#' || ((bool)$this->translateDb($this->pagina,'foto1'))){ ?>
	<section id="videos">
	    <? if($video != '#') $video = str_replace(array('//vimeo.com/','//www.vimeo.com/'),'//player.vimeo.com/video/',$video).'?autoplay=1'; ?>
	    <a href="<?=$video?>" id="play-video" data-has-video="<?=($video!='#')?'true':'false'?>" style="background-image:url('<?=URL.'/img/ideacao|'.$foto.'?w=480&h=270'?>')">
	        <? if($video != '#'){ ?>
	        <span class="title"><?=((bool)trim($this->translateDb($this->pagina,'video_titulo'))) ? $this->translateDb($this->pagina,'video_titulo') : $this->translate('ideacao_video_titulo')?></span>
	        <span class="assistir"><?=$this->translate('home_video_assista')?></span>
	        <? } ?>
	    </a>
	    <div id="video">
	    	<iframe src="#" width="480" height="270" frameborder="0"></iframe>
	    </div>
	</section>
	<? } ?>
	
	<section id="imagens">
		<? foreach($this->pagina->fotos as $foto){ if(!$foto->lang || $foto->lang==$this->lang){ ?>
		<? list($w,$h) = array(480,270); ?>
		<img src="<?=URL.'/img/ideacao|'.$foto->path.'?w='.$w.'&h='.$h.''?>" alt="" />
		<? }} ?>
	</section>
</div>