<section id="<?=$this->controller?>" class="main-center">
	<article class="pagina-body">
		<?=$this->translateDb($this->pagina,'body')?>
	</article>
	
	<div id="marcas-container">
	<? foreach($this->rows as $row){ ?>
	
	<? $row_titulo = $this->translateDb($row,$row->show_titulo2 ? 'titulo2' : 'titulo'); ?>
	
	<? $row_bg  = (bool)trim($row->foto_path2) ? IMG_URL.'/marcas/'.$row->foto_path2 : null; ?>
	<? $row_logo= (bool)trim($row->foto_path)  ? IMG_URL.'/marcas/'.$row->foto_path  : null; ?>
	
	<? $css_bg  = $row_bg   ? 'class="img" style="background-image:url('.$row_bg.')"' : 'class="img noimg"'; ?>
	<? $css_logo= $row_logo ? 'class="titulo" style="background-image:url('.$row_logo.')"' : 'class="titulo noimg"'; ?>
	
	<a href="#<?=$row->alias?>-<?=$row->id?>" class="marca" title="<?=$row_titulo?>">
		<span <?=$css_bg?>></span>
		<?/*<span <?=$css_logo?>><?=$row_titulo?></span>*/?>
		<span class="titulo noimg imgfix">
			<? if($row_logo && !$row->show_titulo2){ ?>
			<img src="<?=$row_logo?>" alt="<?=$row_titulo?>">
			<? } else { ?>
			<?=$row_titulo?>
			<? } ?>
		</span>
	</a>
	<? } ?>
	</div>
	
	<div class="marca-interna-wrappers">
	<? foreach($this->rows as $row){ ?>
	<? $row_titulo = $this->translateDb($row,'titulo'); ?>
	<? $row_img = (bool)trim($row->foto_path3) ? IMG_URL.'/marcas/'.$row->foto_path3 : null; ?>
	<? $css_img = $row_img  ? 'class="img" style="background-image:url('.$row_img.')"' : 'class="img noimg"'; ?>
	<? $css_div = $row_img  ? 'class="marca-interna"' : 'class="marca-interna noimg"'; ?>
	<? $row_logo= (bool)trim($row->foto_path4)  ? IMG_URL.'/marcas/'.$row->foto_path4  : null; ?>
	<? $css_logo= $row_logo ? 'class="titulo" style="background-image:url('.$row_logo.')"' : 'class="titulo noimg"'; ?>
	<div id="<?=$row->alias?>-<?=$row->id?>" class="marca-interna-wrapper">
		<div <?=$css_div?>>
			<?/*<span <?=$css_logo?>><?=$row_titulo?></span>*/?>
			<span class="titulo noimg imgfix">
				<? if($row_logo){ ?>
				<img src="<?=$row_logo?>" alt="<?=$row_titulo?>">
				<? } else { ?>
				<?=$row_titulo?>
				<? } ?>
			</span>
			
			<div class="body">
				<?=$this->translateDb($row,'descricao')?>
			</div>
			
			<? if($row->show_link){ ?>
			<a href="<?=URL?>/colecoes/<?=$row->alias?>" class="ver"><?=$this->translate('ver_colecoes')?></a>
			<? } ?>
			
			<figure class="img" <?=$css_img?>>
				<? if($row_img){ ?>
				<img src="<?=$row_img?>" alt="">
				<? } ?>
			</figure>
		</div>
	</div>
	<? } ?>
	</div> <!-- /.marca-interna-wrappers -->
</section>