    <div id="slideshow-wrapper" class="main-center">
    <div id="slideshow">
        <? foreach ($this->pagina->fotos as $foto) { ?>
        <? $bgimg = URL.'/public/images/home/'.$foto->path; ?>
        <div class="slide" <?/*style="background-image:url('<?=$bgimg?>')"*/?> data-bg="<?=$bgimg?>"></div>
        <? } ?>
    </div>
    <div class="slideshow-pager-wrapper main-center">
        <div id="slideshow-pager"></div>
    </div>
    </div>