<div class="newsletter">
    <form action="<?=URL?>/index/newsletter/" class="newsletter-form" method="post">
        <input type="text" class="txt prevalue newsletter-nome" name="newsletter[nome]" data-prevalue="nome" />
        <input type="text" class="txt prevalue newsletter-email" name="newsletter[email]" data-prevalue="e-mail" />
        <input type="text" class="txt prevalue newsletter-telefone mask-tel" name="newsletter[telefone]" data-prevalue="telefone" />
        <span class="status"></span>
        <input type="submit" class="submit" id="newsletter-submit" value="CADASTRAR &raquo;" />
    </form>
</div>