<? $pagina_id = null; ?>
<? if($this->id) $pagina_id = $this->id; ?>
<? if($this->pagina_id) $pagina_id = $this->pagina_id; ?>

<div class="search-bar">
    <form action="<?=$this->url.'new/'?>" method="get" class="order-form">
        <? if($pagina_id){ ?>
        <input type="submit" class="bt" value="+ Adicionar <?=$pagina_id?>" />
        <input type="hidden" name="pagina_id" value="<?=$pagina_id?>" />
        <? } ?>
    </form>
    
    <form action="" method="get" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label>
        <?=$this->formSelect('search-by',@$_POST['search-by'],array('class'=>'txt'),array(
            "titulo"=>"Título"
        ))?>
        <?=$this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt'))?>
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>