<section id="<?=$this->controller?>">
	<? $fmax = 4; ?>
	<? $css_wrap = count($this->rows)<=$fmax ? 'nopager' : ''; ?>
	<div id="colecoes-list-wrapper" class="main-center <?=$css_wrap?>">
		<a href="#" id="prev" title="<?=$this->translate('anteriores')?>"><?=$this->translate('anteriores')?></a>
		<a href="#" id="next" title="<?=$this->translate('proximos')?>"><?=$this->translate('proximos')?></a>
		<nav id="colecoes-pager"></nav>
		<ul id="colecoes-list" class="pre-cycled">
			<li><? $i=0; foreach($this->rows as $row){ $i++; ?>
				<a href="<?=URL?>/colecao/<?=$row->alias?>-<?=$row->id?>" class="colecao">
					<span class="titulo">
						<?=$this->translateDb($row,'marca')?> - 
						<?=$this->translateDb($row,'titulo')?>
					</span>

					<? $img = IMG_URL.((bool)trim($row->thumbnail) ? 
										'/projetos/'.$row->thumbnail : 
										'/not-found.jpg'); ?>
					<? $css = 'style="background-image:url('.$img.')"'; ?>
					<span class="img" <?=$css?>></span>

					<span class="descricao">
						<?=Is_Str::crop($this->translateDb($row,'descricao'),150)?>
					</span>

					<span class="ver"><?=$this->translate('ver_colecao')?></span>
				</a>

				<?=($i%$fmax==0) ? '</li><li>' : ''?>
				<? } ?></li>
		</ul>
	</div>
</section>