html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block;
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

button,input,optgroup,select,textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,select {
    text-transform: none;
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: 700;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,th {
    padding: 0;
}

@font-face {
    font-family:zonapro;src:url(fonts/zonapro.eot);src:url(fonts/zonapro.eot?#iefix) format('embedded-opentype'),url(fonts/zonapro.woff2) format('woff2'),url(fonts/zonapro.woff) format('woff'),url(fonts/zonapro.ttf) format('truetype'),url(fonts/zonapro.svg#zonapro) format('svg');font-weight:400;font-style:normal;
}

.centro {
    width: 1080px;
    margin: 0 auto;
}

.centro:after,.centro:before {
    content: " ";
    display: table;
}

.centro:after {
    clear: both;
}

@media only screen and (min-width:680px) and (max-width:1129px) {
    .centro {
        width: 90%;
    }
}

@media only screen and (max-width:679px) {
    .centro {
        width: 90%;
    }
}

*,::after,::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 14px;
    background: #c0bab4;
}

::-moz-selection {
    background: #5c4f41;
    color: #fff;
}

::selection {
    background: #5c4f41;
    color: #fff;
}/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */.fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
    margin: 50px 0 70px;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-inner,.fancybox-outer {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-iframe,.fancybox-image {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: .8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(../img/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
    background: url(../img/projetos/botao-fechar.png) center no-repeat;
    position: absolute;
    top: -30px;
    right: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: url(blank.gif);
    -webkit-tap-highlight-color: transparent;
    z-index: 8040;
}

.fancybox-prev {
    left: -30px;
    background: url(../img/clipping/botao-voltar1.png) center left no-repeat;
    transition: background .3s ease;
}

.fancybox-prev:hover {
    background-image: url(../img/clipping/botao-voltar2.png);
}

.fancybox-next {
    right: -30px;
    background: url(../img/clipping/botao-avancar1.png) center right no-repeat;
    transition: background .3s ease;
}

.fancybox-next:hover {
    background-image: url(../img/clipping/botao-avancar2.png);
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible!important;
}

.fancybox-lock {
    overflow: hidden!important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden!important;
}

.fancybox-lock-test {
    overflow-y: hidden!important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: rgba(192,186,180,.9);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

.fancybox-title {
    visibility: hidden;
    font: 400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: 0 0;
    background: rgba(0,0,0,.8);
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0,0,0,.8);
}

header {
    background: rgba(192,186,180,.95);
    height: 84px;
    border-bottom: 1px solid #fff;
    margin: 55px 0 80px;
    position: relative;
}

header .logo {
    display: block;
    width: 330px;
    height: 115px;
    text-indent: -9990px;
    background: url(../img/logo.jpg) center no-repeat;
    position: absolute;
    top: -15px;
}

header .idiomas {
    float: left;
    width: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 418px;
}

header .idiomas a {
    width: 15px;
    height: 84px;
    display: block;
    text-indent: -9999px;
    transition: all .3s ease;
    float: left;
}

header .idiomas a.idiomas-en {
    margin-right: 13px;
    background: url(../img/idiomas/en.png) center no-repeat;
}

header .idiomas a.idiomas-en.active,header .idiomas a.idiomas-en:hover {
    background-image: url(../img/idiomas/en-hover.png);
}

header .idiomas a.idiomas-pt {
    background: url(../img/idiomas/pt.png) center no-repeat;
}

header .idiomas a.idiomas-pt.active,header .idiomas a.idiomas-pt:hover {
    background-image: url(../img/idiomas/pt-hover.png);
}

header nav.desktop {
    float: right;
    height: 84px;
}

header nav.desktop a {
    display: inline-block;
    height: 84px;
    line-height: 84px;
    color: #3A3229;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 40px;
    transition: all .3s ease;
    border-bottom: 3px solid transparent;
}

header nav.desktop a.active,header nav.desktop a:hover {
    color: #fff;
    border-color: #fff;
}

header .mobile {
    display: none;
}

@media only screen and (min-width:680px) and (max-width:1129px) {
    header {
        margin: 40px 0 55px;
    }

    header .centro {
        position: relative;
    }

    header .logo {
        max-width: 285px;
        background-size: 100% auto;
    }

    header .idiomas {
        position: absolute;
        right: 0;
        top: 68px;
    }

    header nav.desktop {
        width: 50%;
        text-align: right;
        margin-top: 7px;
    }

    header nav.desktop a {
        height: auto;
        line-height: 2.5;
        margin-left: 10%;
    }

    header nav.desktop a.active,header nav.desktop a:hover {
        border: 0 solid transparent;
    }
}

@media only screen and (max-width:679px) {
    header {
        margin: 20px 0 85px;
    }

    header nav.desktop {
        display: none;
    }

    header .logo {
        width: 270px;
        background-size: 100% auto;
        left: 50%;
        margin-left: -135px;
    }

    header .idiomas {
        position: absolute;
        width: 100%;
        height: auto;
        margin: 0;
        left: 0;
        top: 100px;
        text-align: center;
    }

    header .idiomas li {
        display: inline-block;
    }

    header .idiomas li a {
        height: auto;
    }

    header .mobile {
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        left: 0;
        top: 132px;
        text-align: center;
    }

    header .mobile .hamburger {
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        display: inline-block;
        text-indent: -9999px;
        background: url(../img/menu-mobile.png) center no-repeat #c0bab4;
    }

    header .mobile .mobile-menu-wrapper {
        display: none;
        width: 100%;
        position: absolute;
        top: 0;
    }

    header .mobile .mobile-menu-wrapper .mobile-menu {
        display: block;
        width: 32%;
        min-width: 170px;
        margin: 0 auto 40px;
        position: relative;
        z-index: 90;
        border: 1px solid #fff;
        background: #5c4f41;
        padding-bottom: 10px;
    }

    header .mobile .mobile-menu-wrapper .mobile-menu a {
        display: block;
        text-align: center;
        font-family: zonapro,Helvetica,Arial,sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        padding: 0 20px;
        line-height: 2;
    }

    header .mobile .mobile-menu-wrapper .mobile-menu a.fechar {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto 10px;
        text-indent: -9999px;
        background: url(../img/projetos/botao-fechar.png) center no-repeat;
    }

    header .mobile .mobile-menu-wrapper .mobile-menu a.fechar:after {
        display: none;
    }
}

footer {
    height: 86px;
    width: 100%;
    text-align: right;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 65px 0;
}

footer .centro {
    border: 1px solid #fff;
    border-right: 1px solid transparent;
}

footer a,footer nav a,footer p {
    height: 86px;
    line-height: 86px;
    display: inline-block;
    text-align: right;
    text-decoration: none;
    color: #3A3229;
    transition: all .3s ease;
}

footer nav {
    display: inline-block;
}

footer nav a {
    text-align: left;
    text-indent: -9999px;
    transition: background .3s ease;
    margin-left: 8px;
}

footer nav a.twitter {
    width: 18px;
    background: url(../img/footer/twitter.png) center no-repeat;
}

footer nav a.twitter:hover {
    background-image: url(../img/footer/twitter2.png);
}

footer nav a.facebook {
    width: 18px;
    background: url(../img/footer/facebook.png) center no-repeat;
}

footer nav a.facebook:hover {
    background-image: url(../img/footer/facebook2.png);
}

footer nav a.instagram {
    width: 18px;
    background: url(../img/footer/instagram.png) center no-repeat;
}

footer nav a.instagram:hover {
    background-image: url(../img/footer/instagram2.png);
}

footer nav a.linkedin {
    width: 18px;
    background: url(../img/footer/linkedin.png) center no-repeat;
}

footer nav a.linkedin:hover {
    background-image: url(../img/footer/linkedin2.png);
}

footer nav a.googleplus {
    width: 18px;
    background: url(../img/footer/googleplus.png) center no-repeat;
}

footer nav a.googleplus:hover {
    background-image: url(../img/footer/googleplus2.png);
}

footer nav a.pinterest {
    width: 18px;
    background: url(../img/footer/pinterest.png) center no-repeat;
}

footer nav a.pinterest:hover {
    background-image: url(../img/footer/pinterest2.png);
}

footer a.footer-email {
    margin-left: 60px;
}

footer a.footer-email:hover {
    color: #fff;
}

footer p.footer-tel {
    margin: 0 0 0 60px;
    padding: 0;
    cursor: default;
}

footer.home {
    margin: 0;
    position: absolute;
    bottom: 10px;
}

footer.home .centro {
    border: 0;
}

footer.home a,footer.home nav a,footer.home p {
    color: #fff;
}

footer.home a.footer-email:hover {
    color: #3A3229;
}

footer.home nav a.twitter {
    background: url(../img/footer/twitter2.png) center no-repeat;
}

footer.home nav a.twitter:hover {
    background-image: url(../img/footer/twitter.png);
}

footer.home nav a.facebook {
    background: url(../img/footer/facebook2.png) center no-repeat;
}

footer.home nav a.facebook:hover {
    background-image: url(../img/footer/facebook.png);
}

footer.home nav a.instagram {
    background: url(../img/footer/instagram2.png) center no-repeat;
}

footer.home nav a.instagram:hover {
    background-image: url(../img/footer/instagram.png);
}

footer.home nav a.linkedin {
    background: url(../img/footer/linkedin2.png) center no-repeat;
}

footer.home nav a.linkedin:hover {
    background-image: url(../img/footer/linkedin.png);
}

footer.home nav a.googleplus {
    background: url(../img/footer/googleplus2.png) center no-repeat;
}

footer.home nav a.googleplus:hover {
    background-image: url(../img/footer/googleplus.png);
}

footer.home nav a.pinterest {
    background: url(../img/footer/pinterest2.png) center no-repeat;
}

footer.home nav a.pinterest:hover {
    background-image: url(../img/footer/pinterest.png);
}

@media only screen and (min-width:680px) and (max-width:1129px) {
    footer {
        text-align: center;
    }

    footer a.footer-email,footer p.footer-tel {
        margin-left: 30px;
    }
}

@media only screen and (max-width:679px) {
    footer {
        text-align: center;
        height: auto;
        margin-bottom: 30px;
    }

    footer .centro {
        padding: 30px 0;
    }

    footer nav a {
        height: auto;
        line-height: 1;
    }

    footer a.footer-email,footer p.footer-tel {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        line-height: 1.5;
        margin: 20px 0 0;
    }

    footer.home {
        bottom: 0;
    }

    footer.home a.footer-email,footer.home p.footer-tel {
        margin: 10px 0 0;
    }

    footer.mobile-horz {
        position: relative;
        margin-top: 150px;
    }
}

.titulo {
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 55px;
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;
}

@media only screen and (min-width:680px) and (max-width:1129px) {
    .titulo {
        font-size: 50px;
    }
}

@media only screen and (max-width:679px) {
    .titulo {
        font-size: 44px;
        text-align: center;
        margin-top: 30px;
    }
}

.paginacao {
    position: relative;
    width: 100%;
    height: 15px;
    margin-top: 65px;
    padding-left: 165px;
    clear: both;
}

.paginacao:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
}

.paginacao a {
    position: relative;
    z-index: 10;
    display: block;
    float: left;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    border-radius: 15px;
    border: 1px solid #fff;
    background: #c0bab4;
    transition: background .3s ease;
}

.paginacao a.active,.paginacao a:hover {
    background: #fff;
}

@media only screen and (min-width:680px) and (max-width:1129px) {
    .paginacao {
        padding-left: 20%;
    }
}

@media only screen and (max-width:679px) {
    .paginacao {
        padding: 0;
        text-align: center;
    }

    .paginacao a {
        display: inline-block;
        float: none;
    }
}

::-webkit-input-placeholder {
    color: #3A3229;
}

:-moz-placeholder {
    color: #3A3229;
    opacity: 1;
}

::-moz-placeholder {
    color: #3A3229;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #3A3229;
}

#slideshow {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

#slideshow .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c0bab4;
}

.slideshow-pager-wrapper {
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 100px;
    overflow: hidden;
}

.slideshow-pager-wrapper #slideshow-pager {
    width: 5000px;
    height: 15px;
    position: relative;
    padding-left: 165px;
}

.slideshow-pager-wrapper #slideshow-pager:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #c6c0b9;
    position: absolute;
    top: 7px;
    left: 0;
}

.slideshow-pager-wrapper #slideshow-pager a {
    position: relative;
    display: block;
    float: left;
    text-indent: -9999px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-right: 10px;
    border: 1px solid #c6c0b9;
    transition: background .3s ease;
    background: #5c4f41;
    z-index: 10;
}

.slideshow-pager-wrapper #slideshow-pager a.cycle-pager-active {
    background: #c6c0b9;
}

@media only screen and (min-width:680px) and (max-width:1129px) {
    .slideshow-pager-wrapper .centro {
        width: 100%;
    }

    .slideshow-pager-wrapper #slideshow-pager {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .slideshow-pager-wrapper #slideshow-pager a {
        display: inline-block;
        float: none;
    }

    #slideshow .slide {
        background-position: center !important;
        background-size: contain !important;
        background-color: #c0bab4 !important;
        /*background-color: transparent !important;*/
        /*background-color: rgba(0,0,0,0.3) !important;*/
    }
}

@media only screen and (max-width:679px) {
    .slideshow-pager-wrapper {
        display: none;
    }
}

#perfil .left {
    float: left;
    width: 640px;
}

#perfil .left h1 {
    margin-bottom: 45px;
}

#perfil .left p {
    color: #3A3229;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    margin: 0 0 30px;
}

#perfil .left h3 {
    margin: 30px 0;
    padding: 40px;
    border: 1px solid #fff;
    border-right: 1px solid transparent;
    color: #3A3229;
    text-transform: uppercase;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}

#perfil .right {
    float: right;
    width: 380px;
    text-align: center;
}

#perfil .right img:first-child {
    margin-bottom: 30px;
}

@media only screen and (min-width:680px) and (max-width:1129px),only screen and (max-width:679px) {
    #perfil .left,#perfil .right {
        width: 100%;
        float: none;
    }

    #perfil .right {
        text-align: left;
    }

    #perfil .right img:first-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width:679px) {
    #perfil .right {
        text-align: center;
    }

    #perfil .right img {
        margin-top: 20px;
    }

    #perfil .right img:first-child {
        margin: 0;
        width: 100%;
        height: auto;
    }
}

#projetos .projetos-categorias {
    height: 40px;
    margin: 45px 0 30px;
}

#projetos .projetos-categorias a {
    display: block;
    width: 360px;
    height: 40px;
    float: left;
    border: 1px solid transparent;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 13px;
    transition: border .3s ease;
}

#projetos .projetos-categorias a.active {
    border-color: #fff;
}

#projetos .projetos-categorias a:hover {
    border-color: #fff!important;
}

#projetos .projetos-lista:after,#projetos .projetos-lista:before {
    content: " ";
    display: table;
}

#projetos .projetos-lista:after {
    clear: both;
}

#projetos .projetos-lista a {
    display: block;
    width: 360px;
    height: 360px;
    position: relative;
    float: left;
    overflow: hidden;
}

#projetos .projetos-lista a img {
    transition: all .2s ease;
    /*max-width: 100%;*/
    position: absolute;
}

#projetos .projetos-lista a:hover img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#projetos .projetos-lista a .overlay {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.7);
    opacity: 0;
    transition: opacity .1s ease;
    padding: 50px;
}

#projetos .projetos-lista a .overlay p {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #3A3229;
    text-transform: uppercase;
    line-height: 1.5;
}

#projetos .projetos-lista a:hover .overlay {
    opacity: 1;
}

@media only screen and (min-width:680px) and (max-width:1129px),only screen and (max-width:679px) {
    #projetos .projetos-categorias {
        height: auto;
    }

    #projetos .projetos-categorias a {
        width: 100%;
        float: none;
    }

    #projetos .projetos-lista a {
        width: 50%;
        height: 360px;
        /*height: 100%;*/
    }

    #projetos .projetos-lista a img {
        display: block;
        width: 100%;
    }

    #projetos .projetos-lista a .overlay {
        display: block;
        padding: 20%;
    }

    #projetos .projetos-lista a .overlay p {
        display: inline-block;
    }
}

@media only screen and (max-width:679px) {
    #projetos .projetos-lista a {
        width: 100%;
    }

    #projetos .projetos-lista a .overlay {
        display: none;
    }

    #projetos .projetos-lista a:hover img {
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

#mostras-interna h1,#projetos-interna h1 {
    margin-bottom: 45px;
}

#mostras-interna .left,#projetos-interna .left {
    width: 690px;
    float: left;
}

#mostras-interna .left a,#projetos-interna .left a {
    display: block;
    width: 690px;
}

#mostras-interna .left a img,#projetos-interna .left a img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}

#mostras-interna .right,#projetos-interna .right {
    width: 340px;
    float: right;
}

#mostras-interna .right h3,#projetos-interna .right h3 {
    color: #fff;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin: 0 0 20px;
    font-weight: 400;
    text-transform: uppercase;
}

#mostras-interna .right p,#projetos-interna .right p {
    color: #3A3229;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

#mostras-interna .right a,#projetos-interna .right a {
    display: block;
    height: 40px;
    width: 100%;
    line-height: 40px;
    margin-top: 60px;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #3A3229;
    border: 1px solid #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .3s ease;
}

#mostras-interna .right a:hover,#projetos-interna .right a:hover {
    background: #fff;
}

#mostras-interna .voltar-mobile,#projetos-interna .voltar-mobile {
    display: none;
}

@media only screen and (min-width:680px) and (max-width:1129px) {
    #mostras-interna .left,#projetos-interna .left {
        width: 65%;
    }

    #mostras-interna .left a,#projetos-interna .left a {
        width: 100%;
    }

    #mostras-interna .right,#projetos-interna .right {
        width: 30%;
    }

    #mostras-interna .right h3,#projetos-interna .right h3 {
        font-size: 18px;
    }

    #mostras-interna .right p,#projetos-interna .right p {
        font-size: 13px;
    }

    #mostras-interna .right a,#projetos-interna .right a {
        height: auto;
        line-height: 1.5;
        padding: 10px;
    }
}

@media only screen and (max-width:679px) {
    #mostras-interna .left,#projetos-interna .left {
        width: 100%;
        float: none;
    }

    #mostras-interna .left a,#projetos-interna .left a {
        width: 100%;
    }

    #mostras-interna .right,#projetos-interna .right {
        width: 100%;
        float: none;
        text-align: center;
    }

    #mostras-interna .right h3,#projetos-interna .right h3 {
        font-size: 18px;
    }

    #mostras-interna .right p,#projetos-interna .right p {
        font-size: 13px;
        margin-bottom: 30px;
    }

    #mostras-interna .right a,#projetos-interna .right a {
        display: none;
    }

    #mostras-interna .voltar-mobile,#projetos-interna .voltar-mobile {
        display: block;
        width: 100%;
        line-height: 1.5;
        margin-top: 30px;
        font-family: zonapro,Helvetica,Arial,sans-serif;
        font-size: 13px;
        color: #3A3229;
        border: 1px solid #fff;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px;
    }
}

#mostras h1 {
    margin-bottom: 45px;
}

#mostras .mostras-lista:after,#mostras .mostras-lista:before {
    content: " ";
    display: table;
}

#mostras .mostras-lista:after {
    clear: both;
}

#mostras .mostras-lista a {
    display: block;
    width: 540px;
    height: 260px;
    position: relative;
    float: left;
    overflow: hidden;
}

#mostras .mostras-lista a img {
    transition: all .2s ease;
    max-width: 100%;
}

#mostras .mostras-lista a:hover img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#mostras .mostras-lista a .overlay {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.7);
    opacity: 0;
    transition: opacity .1s ease;
    padding: 70px;
}

#mostras .mostras-lista a .overlay p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #3A3229;
    text-transform: uppercase;
    line-height: 1.5;
}

#mostras .mostras-lista a:hover .overlay {
    opacity: 1;
}

@media only screen and (min-width:680px) and (max-width:1129px) {
    #mostras .mostras-lista a {
        width: 50%;
        height: 100%;
    }

    #mostras .mostras-lista a img {
        display: block;
        width: 100%;
    }

    #mostras .mostras-lista a .overlay {
        display: block;
        padding: 8% 10%;
    }

    #mostras .mostras-lista a .overlay p {
        display: inline-block;
    }
}

@media only screen and (max-width:679px) {
    #mostras .mostras-lista a {
        width: 100%;
        height: 100%;
    }

    #mostras .mostras-lista a img {
        display: block;
        width: 100%;
    }

    #mostras .mostras-lista a .overlay {
        display: none;
    }

    #mostras .mostras-lista a:hover img {
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

#midia nav {
    height: 18px;
    margin: 45px 0 30px;
    text-align: center;
    position: relative;
}

#midia nav:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 9px;
    background: #fff;
}

#midia nav a {
    position: relative;
    z-index: 10;
    display: inline-block;
    height: 18px;
    background: 0 0;
    padding: 0 20px;
    margin: 0 5px;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
}

#midia nav a.active {
    background: #c0bab4;
    color: #3A3229;
}

#midia nav a:hover {
    background: #c0bab4!important;
    color: #3A3229!important;
}

@media only screen and (max-width:679px) {
    #midia nav {
        height: auto;
        margin: 30px 0;
    }

    #midia nav:after {
        display: none;
    }

    #midia nav a {
        display: block;
        width: 100%;
        height: 40px;
        float: none;
        border: 1px solid transparent;
        line-height: 40px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-family: zonapro,Helvetica,Arial,sans-serif;
        font-size: 13px;
        border-bottom: 1px solid rgba(255,255,255,.2);
        border-top: 1px solid rgba(255,255,255,.2);
        margin-top: -1px;
    }

    #midia nav a.active {
        border: 1px solid #fff;
        background: 0 0!important;
        z-index: auto;
    }

    #midia nav a:hover {
        background: 0 0!important;
    }
}

#midia .clipping-lista:after,#midia .clipping-lista:before {
    content: " ";
    display: table;
}

#midia .clipping-lista:after {
    clear: both;
}

#midia .clipping-lista a {
    display: block;
    width: 216px;
    height: 300px;
    position: relative;
    float: left;
    overflow: hidden;
}

#midia .clipping-lista a img {
    transition: all .2s ease;
    border: 1px solid #c0bab4;
    /*max-width: 100%;*/
    position: absolute;
}

#midia .clipping-lista a:hover img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#midia .clipping-lista a .overlay {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.7);
    opacity: 0;
    transition: opacity .1s ease;
    padding: 30px;
}

#midia .clipping-lista a .overlay p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #3A3229;
    text-transform: uppercase;
    line-height: 1.5;
}

#midia .clipping-lista a:hover .overlay {
    opacity: 1;
}

#midia .clipping-lista .hidden-gallery {
    display: none!important;
}

@media only screen and (min-width:680px) and (max-width:1129px) {
    #midia .clipping-lista a {
        width: 33.333333333%;
        /*height: auto;*/
        height: 360px;
    }

    #midia .clipping-lista a img {
        display: block;
        /*width: 100%;*/
        height: auto;
        border: 0;
    }

    #midia .clipping-lista a .overlay {
        display: block;
        padding: 30% 10%;
    }

    #midia .clipping-lista a .overlay p {
        display: inline-block;
    }
}

@media only screen and (max-width:679px) {
    #midia .clipping-lista {
        margin-top: 45px;
    }

    #midia .clipping-lista a {
        width: 50%;
        height: auto;
    }

    #midia .clipping-lista a img {
        display: block;
        width: 100%;
        height: auto;
        border: 0;
        position: relative;
    }

    #midia .clipping-lista a .overlay {
        display: none;
    }

    #midia .clipping-lista a:hover img {
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

#midia .materias-lista a {
    display: block;
    border: 1px solid #fff;
    margin-top: -1px;
    text-decoration: none;
    padding: 40px;
    transition: background .3s ease;
}

#midia .materias-lista a:hover {
    background: #fff;
}

#midia .materias-lista a:hover h3 {
    color: #3A3229;
}

#midia .materias-lista a h3 {
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 15px;
    font-weight: 400;
    line-height: 1.5;
}

#midia .materias-lista a {
    color: #3A3229 !important;
}

#midia .materias-lista a p.descricao, #midia .materias-lista a p.descricao-completa {
    color: #3A3229 !important;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 40px;
}

#midia .materias-lista a p.materia-completa {
    display: block;
    height: 22px;
    width: 550px;
    line-height: 22px;
    color: #c0bab4;
    text-align: center;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 auto;
    position: relative;
}

#midia .materias-lista a p.materia-completa:before {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 140px;
    height: 1px;
    background: #c0bab4;
    top: 11px;
    left: 0;
}

#midia .materias-lista a p.materia-completa:after {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 140px;
    height: 1px;
    background: #c0bab4;
    top: 11px;
    right: 0;
}

@media only screen and (max-width:679px),only screen and (min-width:680px) and (max-width:1129px) {
    #midia .materias-lista a {
        padding: 30px;
    }

    #midia .materias-lista a:hover {
        background: #c0bab4;
    }

    #midia .materias-lista a:hover h3 {
        color: #fff;
    }

    #midia .materias-lista a h3 {
        font-size: 16px;
    }

    #midia .materias-lista a p {
        font-size: 13px;
    }

    #midia .materias-lista a p.descricao {
        margin-bottom: 25px;
    }

    #midia .materias-lista a p.materia-completa {
        color: #fff;
        font-size: 15px;
        height: auto;
        line-height: 1.5;
        width: 100%;
    }

    #midia .materias-lista a p.materia-completa:after,#midia .materias-lista a p.materia-completa:before {
        display: none;
    }
}

#midia .videos-lista .video {
    margin: 60px 0;
    padding: 0;
    position: relative;
    border-bottom: 1px solid #fff;
}

#midia .videos-lista .video:after,#midia .videos-lista .video:before {
    content: " ";
    display: table;
}

#midia .videos-lista .video:after {
    clear: both;
}

#midia .videos-lista .video iframe {
    float: left;
}

#midia .videos-lista .video .video-info {
    width: 380px;
    float: right;
}

#midia .videos-lista .video .video-info h3 {
    color: #fff;
    text-transform: uppercase;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 15px;
    font-weight: 400;
}

#midia .videos-lista .video .video-info p {
    line-height: 1.5;
}

@media only screen and (min-width:680px) and (max-width:1129px),only screen and (max-width:679px) {
    #midia .videos-lista .video .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    #midia .videos-lista .video .video-container embed,#midia .videos-lista .video .video-container iframe,#midia .videos-lista .video .video-container object {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #midia .videos-lista .video .video-info {
        width: 100%;
        margin: 30px 0;
    }
}

@media only screen and (max-width:679px) {
    #midia .videos-lista .video {
        margin: 40px 0;
    }

    #midia .videos-lista .video .video-info {
        margin: 20px 0;
    }

    #midia .videos-lista .video .video-info h3 {
        font-size: 16px;
    }

    #midia .videos-lista .video .video-info p {
        font-size: 13px;
    }
}

#contato h1 {
    margin-bottom: 45px;
}

#contato form {
    width: 540px;
    float: left;
}

@media only screen and (min-width:680px) and (max-width:1129px),only screen and (max-width:679px) {
    #contato form {
        width: 100%;
        float: none;
    }
}

#contato form input[type=email],#contato form input[type=text],#contato form textarea {
    width: 100%;
    height: 40px;
    display: block;
    border: 1px solid #fff;
    background: 0 0;
    margin-bottom: 10px;
    padding: 10px;
    outline: 0;
    color: #3A3229;
}

#contato form textarea {
    height: 160px;
    resize: vertical;
}

#contato form .submit {
    margin-top: 10px;
    width: 150px;
    height: 20px;
    line-height: 20px;
    float: right;
    background: 0 0;
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #3A3229;
    transition: color .3s ease;
    position: relative;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 13px;
    outline: 0;
}

#contato form .submit:before {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 1px;
    background: #fff;
    top: 10px;
    left: 0;
}

#contato form .submit:after {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 1px;
    background: #fff;
    top: 10px;
    right: 0;
}

#contato form .submit:hover {
    color: #fff;
}

#contato .response {
    width: 540px;
    float: left;
    border: 1px solid #fff;
    padding: 40px;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #3A3229;
    text-transform: uppercase;
    text-align: center;
    display: none;
}

@media only screen and (max-width:679px),only screen and (min-width:680px) and (max-width:1129px) {
    #contato .response {
        width: 100%;
        padding: 30px;
    }
}

#contato .contato-info {
    width: 465px;
    float: right;
    margin-bottom: 60px;
}

@media only screen and (min-width:680px) and (max-width:1129px),only screen and (max-width:679px) {
    #contato .contato-info {
        display: none;
    }
}

#contato .contato-info .label {
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #3A3229;
    margin: 0 0 12px;
    text-transform: uppercase;
}

#contato .contato-info .telefone {
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 50px;
    color: #3A3229;
    margin: 0 0 40px;
    line-height: 1;
}

#contato .contato-info .email,
#contato .contato-info .endereco {
    display: inline-block;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: #3A3229;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s ease;
    line-height: 1;
    margin: 0 0 70px;
}

#contato .contato-info .endereco {
    margin-bottom: 40px;
}

#contato .contato-info .email:hover {
    color: #fff;
}

#contato .contato-info nav {
    display: inline-block;
}

#contato .contato-info nav a {
    height: 70px;
    width: 70px;
    display: inline-block;
    text-decoration: none;
    text-align: left;
    text-indent: -9999px;
    transition: background .3s ease;
    margin-right: 3px;
}

#contato .contato-info nav a.twitter {
    background: url(../img/contato/twitter2.png) center no-repeat;
}

#contato .contato-info nav a.twitter:hover {
    background-image: url(../img/contato/twitter.png);
}

#contato .contato-info nav a.facebook {
    background: url(../img/contato/facebook2.png) center no-repeat;
}

#contato .contato-info nav a.facebook:hover {
    background-image: url(../img/contato/facebook.png);
}

#contato .contato-info nav a.instagram {
    background: url(../img/contato/instagram2.png) center no-repeat;
}

#contato .contato-info nav a.instagram:hover {
    background-image: url(../img/contato/instagram.png);
}

#contato .contato-info nav a.linkedin {
    background: url(../img/contato/linkedin2.png) center no-repeat;
}

#contato .contato-info nav a.linkedin:hover {
    background-image: url(../img/contato/linkedin.png);
}

#contato .contato-info nav a.googleplus {
    background: url(../img/contato/googleplus2.png) center no-repeat;
}

#contato .contato-info nav a.googleplus:hover {
    background-image: url(../img/contato/googleplus.png);
}

#contato .contato-info nav a.pinterest {
    background: url(../img/contato/pinterest2.png) center no-repeat;
}

#contato .contato-info nav a.pinterest:hover {
    background-image: url(../img/contato/pinterest.png);
}

#blog h1 {
    margin-bottom: 45px;
}

#blog .blog-left {
    width: 690px;
    float: left;
}

@media only screen and (min-width:680px) and (max-width:1129px) {
    #blog .blog-left {
        width: 60%;
    }
}

@media only screen and (max-width:679px) {
    #blog .blog-left {
        width: 100%;
    }
}

#blog .blog-left .blog-post {
    border-bottom: 1px solid rgba(255,255,255,.25);
    padding-bottom: 30px;
    margin-bottom: 45px;
}

#blog .blog-left .blog-post h2 {
    margin: 0 0 10px;
    font-weight: 400;
}

#blog .blog-left .blog-post h2 a {
    text-decoration: none;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 26px;
    color: #fff;
    transition: all .3s ease;
}

#blog .blog-left .blog-post h2 a:hover,#blog .blog-left .blog-post p {
    color: #3A3229;
}

@media only screen and (max-width:679px) {
    #blog .blog-left .blog-post h2 a {
        font-size: 22px;
    }
}

#blog .blog-left .blog-post p.post-info {
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 13px;
}

#blog .blog-left .blog-post p.post-info a {
    text-decoration: none;
    color: #3A3229;
    transition: all .3s ease;
}

#blog .blog-left .blog-post p.post-info a:hover {
    color: #fff;
}

#blog .blog-left .blog-post p.olho {
    color: #3A3229;
    margin: 20px 0;
    line-height: 1.7;
}

#blog .blog-left .blog-post p.olho-interna {
    border: 1px solid #fff;
    border-right: 1px solid transparent;
    padding: 20px;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 20px 0 30px;
}

#blog .blog-left .blog-post p.texto {
    line-height: 1.7;
}

#blog .blog-left .blog-post a.leia-mais {
    display: block;
    margin-top: 15px;
    width: 160px;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #3A3229;
    transition: color .3s ease;
    position: relative;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 13px;
    outline: 0;
}

#blog .blog-left .blog-post a.leia-mais:before {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 1px;
    background: #fff;
    top: 10px;
    left: 0;
}

#blog .blog-left .blog-post a.leia-mais:after {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 1px;
    background: #fff;
    top: 10px;
    right: 0;
}

#blog .blog-left .blog-post a.leia-mais:hover {
    color: #fff;
}

#blog .blog-left .blog-post img {
    height: auto;
    /*width: 100%;*/
    /*margin: 10px 0 0;*/
    width: 50%;
    margin: 10px auto;
    display: inherit;;
}

#blog .blog-left .blog-paginacao,#blog .blog-left .blog-voltar {
    width: 100%;
    margin: 45px 0 50px;
}

#blog .blog-left .blog-paginacao:after,#blog .blog-left .blog-paginacao:before,#blog .blog-left .blog-voltar:after,#blog .blog-left .blog-voltar:before {
    content: " ";
    display: table;
}

#blog .blog-left .blog-paginacao:after,#blog .blog-left .blog-voltar:after {
    clear: both;
}

#blog .blog-left .blog-paginacao a,#blog .blog-left .blog-voltar a {
    display: inline-block;
    color: #3A3229;
    text-transform: uppercase;
    text-decoration: none;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 14px;
    transition: color .3s ease;
}

#blog .blog-left .blog-paginacao a:hover,#blog .blog-left .blog-voltar a:hover {
    color: #fff;
}

#blog .blog-left .blog-paginacao a.anteriores,#blog .blog-left .blog-voltar a.anteriores {
    float: left;
}

#blog .blog-left .blog-paginacao a.proximos,#blog .blog-left .blog-voltar a.proximos {
    float: right;
}

#blog .comentarios-lista h4 {
    background: #5c4f41;
    color: #fff;
    padding: 20px;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

#blog .comentarios-lista .comentario {
    border-bottom: 1px solid rgba(255,255,255,.25);
    padding: 20px 0;
}

#blog .comentarios-lista .comentario p {
    margin: 0;
    line-height: 1.7;
}

#blog .comentarios-lista .comentario p.info {
    color: #fff;
    font-size: 13px;
    margin-bottom: 10px;
}

#blog #blog-comentario {
    border-bottom: 1px solid rgba(255,255,255,.25);
    padding: 45px 0;
}

#blog #blog-comentario:after,#blog #blog-comentario:before {
    content: " ";
    display: table;
}

#blog #blog-comentario:after {
    clear: both;
}

#blog #blog-comentario input[type=email],#blog #blog-comentario input[type=text],#blog #blog-comentario textarea {
    width: 100%;
    height: 40px;
    display: block;
    border: 1px solid #fff;
    background: 0 0;
    margin-bottom: 10px;
    padding: 10px;
    outline: 0;
    color: #3A3229;
}

#blog #blog-comentario textarea {
    height: 160px;
    resize: vertical;
}

#blog #blog-comentario .submit {
    margin-top: 10px;
    width: 150px;
    height: 20px;
    line-height: 20px;
    float: right;
    background: 0 0;
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #3A3229;
    transition: color .3s ease;
    position: relative;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 13px;
    outline: 0;
}

#blog #blog-comentario .submit:before {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 1px;
    background: #fff;
    top: 10px;
    left: 0;
}

#blog #blog-comentario .submit:after {
    content: '';
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 1px;
    background: #fff;
    top: 10px;
    right: 0;
}

#blog #blog-comentario .submit:hover {
    color: #fff;
}

#blog #blog-comentario #recaptcha_area {
    height: 129px !important;
    overflow: hidden;
}

#blog .sidebar {
    width: 300px;
    float: right;
}

@media only screen and (min-width:680px) and (max-width:1129px) {
    #blog .sidebar {
        width: 35%;
    }
}

@media only screen and (max-width:679px) {
    #blog .sidebar {
        display: none;
    }
}

#blog .sidebar form {
    width: 100%;
    height: 48px;
    border: 1px solid #fff;
    position: relative;
}

#blog .sidebar form input[type=text] {
    color: #3A3229;
    outline: 0;
    border: 0;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 14px;
    width: 80%;
    padding-left: 15px;
    background: 0 0;
    height: 48px;
    line-height: 48px;
}

#blog .sidebar form input[type=submit] {
    width: 15%;
    height: 48px;
    position: absolute;
    right: 0;
    top: 0;
    outline: 0;
    border: 0;
    text-indent: -9999px;
    background: url(../img/blog/busca-blog.png) center no-repeat;
    transition: background .3s ease;
}

#blog .sidebar form input[type=submit]:hover {
    background-image: url(../img/blog/busca-blog2.png);
}

#blog .sidebar .sidebar-list {
    width: 100%;
    margin-top: 40px;
}

#blog .sidebar .sidebar-list h4 {
    margin: 0 0 5px;
    color: #fff;
    border: 1px solid #fff;
    border-right: 1px solid transparent;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px;
}

#blog .sidebar .sidebar-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#blog .sidebar .sidebar-list ul li {
    display: block;
    padding: 12px 15px;
    border-bottom: 1px solid rgba(255,255,255,.25);
}

#blog .sidebar .sidebar-list ul li a {
    text-decoration: none;
    color: #3A3229;
    font-family: zonapro,Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.7;
    text-transform: uppercase;
    transition: all .3s ease;
    display: block;
}

#blog .sidebar .sidebar-list ul li a:hover {
    color: #fff;
    padding-left: 5px;
}

header nav.desktop.en a {
    margin-left: 30px;
}