<link rel="stylesheet" href="<?=CSS_PATH?>/jquery-ui/jquery-ui.css" id="theme" />
<script type="text/javascript">
PHOTO_DESCRIPTION = true;
var ID = <?=$this->id?"'{$this->id}'":"false"?>;
</script>

<h3>&raquo; GALERIA DE IMAGENS</h3>
<h4>
	<span>Miniatura</span>
	<span>Imagem ampliada</span>
</h4>

<ul id="<?=$this->section?>_fotos" class="list_fotos list_fotos_thumb order-rows">
	<? if(count($this->fotos)){ foreach($this->fotos as $foto){ ?>
	<li title="Clique e arraste para ordenar">
		<a href='<?=URL?>/img/<?=$this->section?>:<?=@$foto->path_thumb ? $foto->path_thumb : 'not-found.jpg'?>' rel='gallery_group'>
			<!-- <img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>?w=150&h=150'> -->
			<img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path_thumb?>?w=120&h=90'>
		</a>
		<a href='<?=URL?>/img/<?=$this->section?>:<?=@$foto->path ? $foto->path : 'not-found.jpg'?>' rel='gallery_group'>
			<!-- <img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>?w=150&h=150'> -->
			<img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>?w=120&h=90'>
		</a>
		<?/*<input type="text"
			   name="foto_descricao[]"
			   class="txt foto_descricao"
			   id="foto_descricao_<?=$foto->foto_id?>"
			   value="<?=utf8_encode($foto->descricao)?>"
			   data-foto-id="<?=$foto->foto_id?>"
			   data-portfolio-id="<?=$this->id?>" />
		<input type="text"
			   name="foto_descricao_pt[]"
			   class="txt foto_descricao_pt"
			   id="foto_descricao_pt_<?=$foto->foto_id?>"
			   value="<?=utf8_encode($foto->descricao_pt)?>"
			   data-foto-id="<?=$foto->foto_id?>"
			   data-portfolio-id="<?=$this->id?>" />
		<input type="text"
			   name="foto_descricao_en[]"
			   class="txt foto_descricao_en"
			   id="foto_descricao_en_<?=$foto->foto_id?>"
			   value="<?=utf8_encode($foto->descricao_en)?>"
			   data-foto-id="<?=$foto->foto_id?>"
			   data-portfolio-id="<?=$this->id?>" />*/?>
		<?/*<label for="foto_flag_<?=$foto->foto_id?>">
		<input type="checkbox"
			   name="foto_flag[]"
			   class="txt foto_flag"
			   id="foto_flag_<?=$foto->foto_id?>"
			   value="1"
			   <?=$foto->flag=='1'?'checked="checked"':''?>
			   data-foto-id="<?=$foto->foto_id?>"
			   data-portfolio-id="<?=$this->id?>" />
		Capa</label>*/?>
		<button title="Excluir imagem e miniatura" class="ui-state-default ui-corner-all file-delete">
			<span class="ui-icon ui-icon-trash"></span>
		</button>
		<a href="#upload_fotos_<?=$foto->foto_id?>" class="file-edit">Editar imagens</a>
		<input type="hidden" name="foto_id[]" value="<?=$foto->foto_id?>" class="foto_id" />
		<input type="hidden" class="row-id" name="id[]" value="<?=$foto->foto_id?>" />
		<input type="hidden" class="txt row-ordem" name="ordem[]" value="<?=@$foto->ordem?>" />
		<span class="foto_status"></span>
	</li>
	<? }} ?>
</ul>
<div id="file_upload_container2">
	<form id="file_upload2" action="<?=$this->url?>upload.json?id=<?=$this->id?>" method="POST" enctype="multipart/form-data">
		<input type="file" name="file" multiple />
		<button>Enviar fotos</button>
		<div>Enviar fotos</div>
		<a href="#upload_fotos">Enviar fotos</a>
		<input type="hidden" name="<?=$this->section?>_id" id="<?=$this->section?>_id2" value="<?=$this->id?>" />
	</form>
	
	<p style="margin:10px 0;color:#666;font-style:italic;display:none;">
		* Para colocar um vídeo, envie uma imagem para a miniatura e coloque o link do vídeo no final da descrição da imagem.
	</p>
	
	<table id="file_upload_list2" cellspacing="0" width="100%">
		<!--<tr class="error"><td colspan="3">Envie até 3 fotos de no máximo 2MB cada.</td></tr>-->
	</table>
</div>

<div class="fb-content">
	<? $img1 = URL.'/img/not-found.jpg?w=200&h=120'; ?>
	<? $img2 = URL.'/img/not-found.jpg?w=200&h=120'; ?>
	<? //$img1 = IMG_URL.'/not-found_200x120.jpg'; ?>
	<? //$img2 = IMG_URL.'/not-found_200x120.jpg'; ?>
	<form action="<?=$this->url?>upload" id="upload_fotos" class="frm-upload-fotos" method="post" enctype="multipart/form-data">
	    <h3>&raquo; ENVIAR IMAGENS:</h3>
	    <div class="upimg" id="upimg-1">
	        <!-- <label for="arquivo1">Miniatura:</label> <br><br> -->
	        <img src="<?=$img1?>" alt="Miniatura" />
	        <input type="file" name="file_thumb" id="img1" class="fileinput image <?=(bool)@$this->banner->home ? 'edit' : ''?>" data-arquivo="Selecionar imagem" data-button="Miniatura" />
	    </div>
	    <div class="upimg" id="upimg-2">
	        <!-- <label for="arquivo2">Imagem ampliada:</label> <br><br> -->
	        <img src="<?=$img2?>" alt="Imagem ampliada" />
	        <input type="file" name="file" id="img2" class="fileinput image <?=(bool)@$this->banner->interna ? 'edit' : ''?>" data-arquivo="Selecionar imagem" data-button="Ampliada" />
	    </div>
	    <div class="submit-container">
	    	<input type="submit" id="button" class="bt" value="Salvar imagens" />
	    	<input type="hidden" name="id" value="<?=$this->id?>">
	    	<input type="hidden" name="redirect" value="1">
	    </div>
	</form>
	
	<? if(count($this->fotos)) foreach($this->fotos as $foto){ ?>
	<? $has_img1 = (bool)trim($foto->path_thumb); ?>
	<? $has_img2 = (bool)trim($foto->path); ?>
	<? $img1 = URL.'/img/'.($has_img1 ? $this->section.':'.$foto->path_thumb : 'not-found.jpg').'?w=200&h=120'; ?>
	<? $img2 = URL.'/img/'.($has_img2 ? $this->section.':'.$foto->path : 'not-found.jpg').'?w=200&h=120'; ?>
	<form action="<?=$this->url?>upload" id="upload_fotos_<?=$foto->foto_id?>" class="frm-upload-fotos" method="post" enctype="multipart/form-data">
	    <h3>&raquo; EDITAR IMAGENS:</h3>
	    <div class="upimg" id="upimg-1">
	        <!-- <label for="arquivo1">Miniatura:</label> <br><br> -->
	        <img src="<?=$img1?>" alt="Miniatura" />
	        <input type="file" name="file_thumb" id="img1" class="fileinput image edit" data-arquivo="<?=($has_img1 ? 'Alterar' : 'Selecionar')?> imagem" data-button="Miniatura" />
	    </div>
	    <div class="upimg" id="upimg-2">
	        <!-- <label for="arquivo2">Imagem ampliada:</label> <br><br> -->
	        <img src="<?=$img2?>" alt="Imagem ampliada" />
	        <input type="file" name="file" id="img2" class="fileinput image edit" data-arquivo="<?=($has_img2 ? 'Alterar' : 'Selecionar')?> imagem" data-button="Ampliada" />
	    </div>
	    <div class="submit-container">
	    	<input type="submit" id="button" class="bt" value="Salvar imagens" />
	    	<input type="hidden" name="foto_id" value="<?=$foto->foto_id?>">
	    	<input type="hidden" name="id" value="<?=$this->id?>">
	    	<input type="hidden" name="redirect" value="1">
	    </div>
	</form>
	<? } ?>
</div>