<section id="banners">
	<? foreach($this->pagina->fotos as $foto){ if(!$foto->lang || $foto->lang==$this->lang){ ?>
    <a href="<?=((bool)trim($foto->param) ? $foto->param : '#')?>">
    	<img src="<?=URL.'/img/impressao3d|'.$foto->path.'?w=480&h=270'?>" alt="" />
    </a>
    <? }} ?>
</section>

<section id="videos">
    <? $foto = 'video-impressao3d.jpg'; ?>
    <? $video = ((bool)trim($this->translateDb($this->pagina,'video')) ? $this->translateDb($this->pagina,'video') : '#'); ?>
    <? if($video != '#') $video = str_replace(array('//vimeo.com/','//www.vimeo.com/'),'//player.vimeo.com/video/',$video); ?>
    <a href="<?=$video?>" style="background-image:url('<?=URL.'/img/ref|'.$foto.'?w=480&h=270'?>')">
        <span class="title"><?=$this->translate('impressao3d_video_titulo')?></span>
        <span class="assistir"><?=$this->translate('impressao3d_video_assista')?></span>
    </a>
</section>

<br clear="all" />

<?/*<section id="texto2">
	<a href="#shop-content" id="fazer-impressao" data-preload-img="<?=CSS_PATH.'/img/3d_botao-hover.png'?>">
		Para fazer uma impressão 3D do <b>seu projeto</b> clique aqui
	</a>

	<?=$this->pagina->texto2?>
</section>*/?>

<section id="imagens">
	<? if((bool)trim($this->translateDb($this->pagina,'foto1'))){ ?>
	<? list($w,$h) = explode('x',$this->translateDb($this->pagina,'foto1_size')); ?>
	<img src="<?=URL.'/img/impressao3d|'.$this->translateDb($this->pagina,'foto1').'?w='.$w.'&h='.$h.''?>" alt="" />
	<? } ?>
</section>

<section id="texto1">
	<?=$this->translateDb($this->pagina,'texto1')?>
</section>

<section id="caracteristicas">
	<h2><span><?=$this->translate('caracteristicas')?></span></h2>
	<? $max = floor(count($this->caracteristicas) / 2); ?>
	<? $total = count($this->caracteristicas); ?>

	<div id="caracteristicas1" class="caracteristicas">
		<? for($i=0;$i<$max;$i++){ ?>
		<h3><?=$this->caracteristicas[$i]->{'titulo_'.$this->lang}?></h3>

		<?=$this->caracteristicas[$i]->{'body_'.$this->lang}?>
		<? } ?>
	</div>

	<div id="caracteristicas2" class="caracteristicas">
		<? for($i=$max;$i<$total;$i++){ ?>
		<h3><?=$this->caracteristicas[$i]->{'titulo_'.$this->lang}?></h3>

		<?=$this->caracteristicas[$i]->{'body_'.$this->lang}?>
		<? } ?>
	</div>
</section>

<?
$has_return = false;

if(count($this->flash_messages)){
	if($this->flash_messages[0]->type == 'return') $has_return = true;
}
?>

<div id="shop-content" class="<?=($has_return ? 'retorno' : '')?>">
	<div id="shop-impressao3d">
		<span class="icone">Impressão 3D</span>
		<span class="fechar shop-close-message-box">x</span>

		<? if($has_return){ ?>
		<p class="page-quote-text">
		    Arquivo enviado com <b>sucesso</b>! <br>
		    Entraremos em contato em breve.
		</p>
		<? } else { ?>
		<p class="page-quote-text">
		    Preencha o <b>formulário</b> abaixo e entraremos em <b>contato</b>
		</p>

		<form action="<?=URL?>/impressao-3d/enviar" id="form-impressao3d" enctype="multipart/form-data" method="post">
		    <ul>
		        <li>
		            <label for="nome">Nome</label>
		            <input type="text" name="nome" id="nome" class="txt" required />
		        </li>
		        <li>
		            <label for="email">E-mail</label>
		            <input type="email" name="email" id="email" class="txt" required />
		        </li>
		        <li>
		            <label for="tel">Telefone</label>
		            <input type="text" name="ddd" id="ddd" class="txt mask-int" maxlength="2" />
            		<input type="text" name="tel" id="tel" class="txt mask-int" maxlength="9" />
		        </li>
		        <li class="half">
		            <label for="arquivo">Arquivo 3D (formato <b>.STL</b> ou <b>.IGES</b>)</label>
		            <input type="file" name="arquivo" id="arquivo" class="arquivo   " />
		        </li>
		        <li class="full li-mensagem">
		            <label for="mensagem">Observações <small>(opcional)</small></label>
		            <textarea name="mensagem" id="mensagem" class="txt" required></textarea>
		        </li>
		        <li class="full">
		            <span class="status"></span>
		            <input type="submit" class="submit" value="enviar" />
		        </li>
		    </ul>
		</form>
		<? } ?>
	</div>
</div>