<? $row = $this->row; ?>

<section id="<?=$this->controller?>" class="main-center">
	<article id="colecao-post">
		<h1 class="titulo">
			<?=$this->translateDb($row,'marca')?> -
			<?=$this->translateDb($row,'titulo')?>
		</h1>
		
		<? if((bool)$this->fotos){ ?>
		<? $foto = $this->fotos[0]; ?>
		<? $imgsz = getimagesize(APP_PATH.'/..'.IMG_PATH.'/projetos/'.$foto->path); ?>
		<div class="img-0-container">
		<?/*<figure class="img-0" style="height: <?=$imgsz[1]?>px;">*/?>
		<figure class="img-0">
			<? $img = IMG_URL.'/projetos/'.$foto->path; ?>
			<img src="<?=$img?>" alt="<?=$this->translateDb($row,'titulo')?>" class="bg">
			<img src="<?=$img?>" alt="<?=$this->translateDb($row,'titulo')?>" class="img">
		</figure>
		</div>
		<? } ?>

		<div class="descricao">
			<?=nl2br($this->translateDb($row,'descricao'))?>
		</div>

		<? if((bool)$this->fotos){ ?>
		<? $fmax = 6; ?>
		<? $css_wrap = count($this->fotos)<=$fmax ? 'nopager' : ''; ?>
		<div id="colecoes-list-wrapper" class="<?=$css_wrap?>">
			<a href="#" id="prev" title="<?=$this->translate('anteriores')?>"><?=$this->translate('anteriores')?></a>
			<a href="#" id="next" title="<?=$this->translate('proximos')?>"><?=$this->translate('proximos')?></a>
			<nav id="colecoes-pager"></nav>
			<ul id="colecoes-list" class="pre-cycled">
				<li>
					<? $i=0; foreach($this->fotos as $foto){ $i++; ?>
					<? $img = IMG_URL.'/projetos/'.$foto->path; ?>
					<? $img2= (bool)trim($foto->path_thumb) ? IMG_URL.'/projetos/'.$foto->path_thumb : $img; ?>
					<? $css = 'style="background-image:url('.$img2.')"'; ?>
					<a href="<?=$img?>" class="colecao">
						<span class="img" <?=$css?>></span>
					</a>

					<?=($i%$fmax==0) ? '</li><li>' : ''?>
					<? } ?>
				</li>
			</ul>
		</div>
		<? } ?>

		<br clear="all">
	</article>

	<nav id="menu-colecoes">
		<span class="titulo">
			<?=$this->translate('menu_colecoes')?>
		</span>
		
		<ul class="navigation">
			<? foreach($this->menu_marcas as $menu){ ?>
			<? $active = $menu->alias == @$this->marca->alias ? 'active' : ''; ?>
			<li class="<?=$active?>-1">
				<a href="#menu-<?=$menu->alias?>" class="item <?=$active?>">
					<?=$this->translateDb($menu,'titulo')?>
				</a>

				<ul class="navigation-sub">
					<? foreach($menu->rows as $mmenu){ ?>
					<li>
						<a href="<?=URL?>/colecao/<?=$mmenu->alias?>-<?=$mmenu->id?>" class="subitem">
							<?=$this->translate('menu_colecao')?>
							<?=$this->translateDb($mmenu,'titulo')?>
						</a>
					</li>
					<? } ?>
				</ul>
			</li>
			<? } ?>
		</ul>
	</nav>

	<br clear="all">
</section>