<link rel="stylesheet" href="<?=CSS_PATH?>/jquery-ui/jquery-ui.css" id="theme" />

<h3>
    &raquo; GALERIA DE IMAGENS
</h3>

<ul id="<?=$this->section?>_fotos" class="list_fotos marcas order_fotos">
    <? if(count($this->fotos)){ foreach($this->fotos as $foto){ ?>
    <li>
        <a href='<?=URL?>/img/<?=$this->section?>|<?=$foto->path?>' rel='gallery_group'>
            <?/*<img src='<?=IMG_URL?>/<?=$this->section?>/<?=$foto->path?>'>*/?> <? /* 3 fotos */ ?>
            <img src='<?=URL?>/img/<?=$this->section?>|<?=$foto->path?>?w=90&h=90'> <? /* 3 fotos */?>
            <?/*<img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>?w=65&h=65'>*/?> <? /* 4 fotos */ ?>
        </a>
        <button title="Delete" class="ui-state-default ui-corner-all file-delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" name="foto_id[]" value="<?=$foto->foto_id?>" class="foto_id" />
        <input type="hidden" name="foto_ordem[]" value="<?=$foto->ordem?>" class="foto_ordem" />
        <?/*=$this->formSelect('foto_cor_'.$foto->foto_id,$foto->cor_id,array('class'=>'foto_cor txt'),$this->cores)*/?>
    </li>
    <? }} ?>
</ul>
<div id="file_upload_container">
    <form id="file_upload" action="<?=$this->url?>upload.json?id=<?=$this->id?>" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple />
        <button>Enviar fotos<?=$this->MAX_FOTOS?' (Máx. '.$this->MAX_FOTOS.')':''?></button>
        <div>Enviar fotos<?=$this->MAX_FOTOS?' (Máx. '.$this->MAX_FOTOS.')':''?></div>
        <input type="hidden" name="<?=$this->section?>_id" id="<?=$this->section?>_id" value="<?=$this->id?>" />
    </form>
    
    <table id="file_upload_list" cellspacing="0" width="100%">
        <!--<tr class="error"><td colspan="3">Envie até 3 fotos de no máximo 2MB cada.</td></tr>-->
    </table>
</div>