<?=Css::load(CSS_PATH."/admin/marcas-fotos-fixas.less");?>
<?=Js::load(JS_PATH."/admin/marcas-fotos-fixas.js");?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var URL = "<?=URL?>";
</script>

<h3>
    &raquo; IMAGENS
</h3>

<form action="<?=$this->url?>save-fotos-fixas" id="frm-fotos-fixas" enctype="multipart/form-data" method="post">

<ul id="marcas_fotos_fixas" class="list_fotos_fixas">
    <? //$foto = $this->section.'|'.$this->foto_fixa->{'foto'.$i}; ?>
    <? $img = ($this->foto_fixa) ? $this->foto_fixa->path : null; ?>
    <? $foto = (bool)$img ? $this->section.'/'.$img : 'not-found_90x90.jpg'; ?>
    <? $text = 'Logo'; ?>
    <li class="input-image-container">
        <? if((bool)@$foto){ ?>
        <div class="image">
            <!-- <img src="<?=URL.'/img/'.$foto.$foto_size?>" alt=""> -->
            <img src="<?=IMG_URL.'/'.$foto?>" alt="">
        </div>
        <input type="file" class="fileinput image" name="foto_id" id="foto_id" data-arquivo="Alterar imagem" data-button="<?=$text?>" />
        <? } else { ?>
        <input type="file" class="fileinput image" name="foto_id" id="foto_id" data-button="<?=$text?>" />
        <? } ?>
    </li>
    
    <? //$foto = $this->section.'|'.$this->foto_fixa->{'foto'.$i}; ?>
    <? $img = ($this->foto_fixa4) ? $this->foto_fixa4->path : null; ?>
    <? $foto = (bool)$img ? $this->section.'/'.$img : 'not-found_90x90.jpg'; ?>
    <? $text = 'Logo interna'; ?>
    <li class="input-image-container">
        <? if((bool)@$foto){ ?>
        <div class="image">
            <!-- <img src="<?=URL.'/img/'.$foto.$foto_size?>" alt=""> -->
            <img src="<?=IMG_URL.'/'.$foto?>" alt="">
        </div>
        <input type="file" class="fileinput image" name="foto4_id" id="foto4_id" data-arquivo="Alterar imagem" data-button="<?=$text?>" />
        <? } else { ?>
        <input type="file" class="fileinput image" name="foto4_id" id="foto4_id" data-button="<?=$text?>" />
        <? } ?>
    </li>
    
    <? //$foto = $this->section.'|'.$this->foto_fixa->{'foto'.$i}; ?>
    <? $img = ($this->foto_fixa2) ? $this->foto_fixa2->path : null; ?>
    <? $foto = (bool)$img ? $this->section.'/'.$img : 'not-found_90x90.jpg'; ?>
    <? $text = 'Fundo capa'; ?>
    <li class="input-image-container">
        <? if((bool)@$foto){ ?>
        <div class="image">
            <!-- <img src="<?=URL.'/img/'.$foto.$foto_size?>" alt=""> -->
            <img src="<?=IMG_URL.'/'.$foto?>" alt="">
        </div>
        <input type="file" class="fileinput image" name="foto2_id" id="foto2_id" data-arquivo="Alterar imagem" data-button="<?=$text?>" />
        <? } else { ?>
        <input type="file" class="fileinput image" name="foto2_id" id="foto2_id" data-button="<?=$text?>" />
        <? } ?>
    </li>
    
    <? //$foto = $this->section.'|'.$this->foto_fixa->{'foto'.$i}; ?>
    <? $img = ($this->foto_fixa3) ? $this->foto_fixa3->path : null; ?>
    <? $foto = (bool)$img ? $this->section.'/'.$img : 'not-found_90x90.jpg'; ?>
    <? $text = 'Fundo interna'; ?>
    <li class="input-image-container">
        <? if((bool)@$foto){ ?>
        <div class="image">
            <!-- <img src="<?=URL.'/img/'.$foto.$foto_size?>" alt=""> -->
            <img src="<?=IMG_URL.'/'.$foto?>" alt="">
        </div>
        <input type="file" class="fileinput image" name="foto3_id" id="foto3_id" data-arquivo="Alterar imagem" data-button="<?=$text?>" />
        <? } else { ?>
        <input type="file" class="fileinput image" name="foto3_id" id="foto3_id" data-button="<?=$text?>" />
        <? } ?>
    </li>

    <li>
        <input type="submit" class="bt" id="submit-images" value="Salvar imagens" />
        <input type="hidden" name="fotos_fixas_id" value="<?=$this->id?>" />
        <input type="hidden" name="marca_id" value="<?=$this->id?>" />
        <input type="hidden" name="marca_alias" value="<?=$this->marca->alias?>" />
    </li>
</ul>

</form>