<section id="intro" style="background-image: url(<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto6').'?w=500&h=2000'?>)">
	<?=$this->translateDb($this->pagina,'body')?>
</section>

<section id="grid">
	<img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto1').'?w=980&h=220'?>" alt="" class="img-big" />
	<img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto2').'?w=980&h=220'?>" alt="" class="img-big" />
	
	<img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto5').'?w=610&h=380'?>" alt="" class="img-right" />
	
	<img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto3').'?w=360&h=185'?>" alt="" class="img-p" />
	<img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto4').'?w=360&h=185'?>" alt="" class="img-p" />
</section>

<section id="map">
	<?=$this->translateDb($this->pagina,'body2')?>
</section>

<section id="equipe" class="wrapper-loc">
	<span class="icone"></span>

	<? /*for($i=1;$i<4;$i++){*/ ?>
	<? $i=0; foreach($this->grupo as $row){ $i++; ?>
	<? $last = $i%3==0; ?>
	<div class="pessoa <?=$last ? 'last' : ''?>">
		<img src="<?=URL.'/img/clientes|'.$row->path.'?w=312&h=180'?>" alt="<?=$row->titulo?>" />

		<p>
			<span class="title"><?=$this->translateDb($row,'titulo')?></span>

			<?=$this->translateDb($row,'body')?>
		</p>
	</div>

	<?=($last)?'<br clear="all" />':''?>
	<? } ?>
</section>