<script>
$(document).ready(function(){
    $("#submit").click(function(e){
        if($.trim($("#email").val()).length == 0
            // || $.trim($("#tel1").val()).length == 0
        ){
            e.preventDefault();
            Msg.add("Preencha todos os campos corretamente.","erro").show();
            return false;
        }
    });

    $('textarea.wysiwyg').wysiwyg({
        css:{fontFamily:'Arial,sans-serif',fontSize:'12px',margin:0,padding:0},
        <? if(1){//in_array($this->alias,array('como-fazemos','quem-somos'))){ ?>
        visible:'bold,italic,underline,separator00,'+
                'createLink,separator01,'+
                'removeFormat',
        <? } else { ?>
        visible:'h3,bold,italic,underline,separator00,'+
                'insertUnorderedList,insertOrderedList,indent,outdent,separator01,'+
                //'createLink<?=$this->allow_photos?",insertImage":""?>,'+
                'createLink,'+
                'separator02,undo,redo,separator03,removeFormat',
        <? } ?>
        plugins: {
            rmFormat: { rmMsWordMarkup: true }
        }
    });
    $('div.wysiwyg,div.wysiwyg iframe').css('width','505px');
});
</script>

<div class="tabs tabs-lang">
    <!-- tabs -->
    <ul class="tabs-navigation">
        <li><a href="#pt" rel="" class="selected">Português</a></li>
        <li><a href="#en" rel="">Inglês</a></li>
    </ul>
</div>

<div id="form-new">
    <form action="<?=$this->escape($this->form->getAction());?>" method="<?=$this->escape($this->form->getMethod());?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?> <?=$elm->getId()=='descricao'?"bt-left":""?>" id="li-<?=$elm->getId()?>">
                <? if($elm->getId() == "atendimento" ||
                      $elm->getId() == "representantes" ||
                      $elm->getId() == "atendimento_pt" ||
                      $elm->getId() == "representantes_pt" ||
                      $elm->getId() == "atendimento_en" ||
                      $elm->getId() == "representantes_en"){ ?>
                <br clear="all">
                <p><?=$elm->getLabel()?>:</p>
                <br clear="all">
                <? } else if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? if($elm->getId() == "senha"){ ?><!--<br clear="all" />--><? } ?>
            <? } ?>
        </ul>
        <br clear="all" />
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
            <input type="hidden" name="action" value="<?=$this->action?>" />
        </div>
    </form>
</div>