    <div id="midia" class="centro">
        <h1 class="titulo"><?=$this->translate('menu_midia')?></h1>

        <nav class="midias-categorias">
            <a href="<?=URL?>/midia/clipping"><?=$this->translate('menu_midia_clipping')?></a>
            <a href="<?=URL?>/midia/materias" class="active"><?=$this->translate('menu_midia_materias')?></a>
            <a href="<?=URL?>/midia/videos"><?=$this->translate('menu_midia_videos')?></a>
        </nav>

        <div class="materias-lista">
            <? foreach ($this->rows as $row) { ?>
            <a href="#" class="materia-open">
                <h3><?=$this->translateDb($row,'titulo')?></h3>
                <p class="descricao"><?=Is_Str::crop(strip_tags($this->translateDb($row,'body')),275)?></p>
                <p class="materia-completa">Leia matéria completa</p>
                <div class="descricao-completa" style="display:none;"><?=$this->translateDb($row,'body')?></div>
            </a>
            <? } ?>
        </div>

        <?=($this->pagination->total > $this->pagination->limit) ? $this->pagination->render(false,'paginacao','active') : ''?>
    </div>