    <div id="midia" class="centro">
        <h1 class="titulo"><?=$this->translate('menu_midia')?></h1>

        <nav class="midias-categorias">
            <a href="<?=URL?>/midia/clipping"><?=$this->translate('menu_midia_clipping')?></a>
            <a href="<?=URL?>/midia/materias"><?=$this->translate('menu_midia_materias')?></a>
            <a href="<?=URL?>/midia/videos" class="active"><?=$this->translate('menu_midia_videos')?></a>
        </nav>

        <div class="videos-lista">
            <? foreach ($this->rows as $row) { ?>
            <div class="video">
                <div class="video-container">
                    <?=_iframeVideo($row->video,640,390)?>
                    <!-- <iframe width="640" height="390" src="//www.youtube.com/embed/zWbDMpYxtIs?showinfo=0" frameborder="0" allowfullscreen></iframe> -->
                </div>
                <div class="video-info">
                    <h3><?=$this->translateDb($row,'titulo')?></h3>
                    <p><?=nl2br($this->translateDb($row,'body'))?></p>
                </div>
            </div>
            <? } ?>
        </div>

        <?=($this->pagination->total > $this->pagination->limit) ? $this->pagination->render(false,'paginacao','active') : ''?>
    </div>