<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : ''; // define js_path conforme configurações de SCRIPT_MIN
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : ''; // define css_path conforme configurações de SCRIPT_MIN
$script_min = SCRIPT_MIN;
$js  = array(
    $js_path.'libs.js',
    // $js_path.'layout.js',
);
$css = array(
    $css_path.'admin/global.less',
    $css_path.'admin/'.$this->controller.'.less',
    $css_path.'admin/'.$this->controller.'_'.$this->action.'.less'
);

if($this->isLogged){ // adiciona js/css padrões usados após login
    $js = array_merge($js,array(
        $js_path.'admin/Messenger.js',
        $js_path.'admin/admin.js',
        $js_path.'admin/'.$this->controller.'.js',
        $js_path.'admin/'.$this->controller.'_'.$this->action.'.js',
    ));
    $css = array_merge($css,array(
        $css_path.'admin/logged.css',
        //$css_path.'admin/'.$this->modulo.'-logged.css',
        $css_path.'admin/search.less'
    ));
}
switch($this->controller){ // adiciona js/css usados na página atual
    case 'categorias':
    case 'categorias-blog':
        $js = array_merge($js,array(
            $js_path.'jquery.ui.min.js',
            $js_path."admin/jquery.fileupload.js",
            $js_path."admin/jquery.fileupload-ui.js",
            $js_path.'jquery.tmpl.min.js',
            $js_path."jquery.fancybox-1.3.4.pack.js",
            //$js_path."admin/fotos.js"
            
        ));
        $css = array_merge($css,array(
            $css_path.'admin/jquery.fileupload-ui.css',
            $css_path.'fancybox/jquery.fancybox-1.3.4.css',
            //$css_path.'admin/fotos.less',
        ));
        break;
    case 'home':
        $js = array_merge($js,array(
            $js_path.'jquery.tmpl.min.js',
            $js_path.'jwysiwyg/jquery.wysiwyg.js',
            $js_path."jquery.ui.min.js",
            $js_path."admin/jquery.fileupload.js",
            $js_path."admin/jquery.fileupload-ui.js",
            $js_path."admin/fotos.js",
            // $js_path."admin/search.js",
            $js_path."jquery.fancybox-1.3.4.pack.js",
            $js_path."Gallery.js"
        ));
        $css = array_merge($css,array(
            $css_path.'jwysiwyg/jquery.wysiwyg.css',
            $css_path.'admin/jquery.fileupload-ui.css',
            $css_path.'admin/fotos.less',
            $css_path.'fancybox/jquery.fancybox-1.3.4.css',
            $css_path.'jquery-ui/jquery-ui.css',
        ));
        
        if($this->allow_photos2){
            $js = array_merge($js,array(
                $js_path.'admin/fotos2.js'
            ));
        }
        
        break;
    case 'menus':
        $js = array_merge($js,array(
            $js_path.'jquery.ui.min.js',
            $js_path.'jquery.tmpl.min.js'
        ));
        break;
    case 'esqueci-minha-senha':
        $css = array_merge($css,array(
            $css_path.'admin/login.less'
        ));
        break;
    // case 'projetos':
    // case 'mostras':
    // case 'clippings':
    // case 'materias':
    // case 'paginas':
    // case 'dados-empresa':
    // case 'banners':
    // case 'blogs':
    // case 'blogs-posts':
    // case 'blogs-comments':
    // case 'clientes':
    default:
        $js = array_merge($js,array(
            $js_path.'jquery.tmpl.min.js',
            $js_path.'jwysiwyg/jquery.wysiwyg.js',
            $js_path."jquery.ui.min.js",
            $js_path."admin/jquery.fileupload.js",
            $js_path."admin/jquery.fileupload-ui.js",
            $js_path."admin/fotos.js",
            $js_path."admin/search.js",
            $js_path."jquery.fancybox-1.3.4.pack.js",
            $js_path."Gallery.js"
        ));
        $css = array_merge($css,array(
            $css_path.'jwysiwyg/jquery.wysiwyg.css',
            $css_path.'admin/jquery.fileupload-ui.css',
            $css_path.'admin/fotos.less',
            $css_path.'fancybox/jquery.fancybox-1.3.4.css',
            $css_path.'jquery-ui/jquery-ui.css',
        ));
        
        if($this->allow_photos2){
            $js = array_merge($js,array(
                $js_path.'admin/fotos2.js'
            ));
        }
        
        break;
}
switch($this->action){ // adiciona js/css usados na página atual
    case 'categorias':
    case 'rodape':
        $js = array_merge($js,array(
            $js_path.'jquery.ui.min.js',
            $js_path.'jquery.tmpl.min.js'
        ));
        break;
}
switch($this->controller.'-'.$this->action){ // adiciona js/css usados na página atual
    case 'projetos-edit':
    case 'mostras-edit':
        unset($js[array_search($js_path."admin/search.js",$js)]);
        break;
}

$SCRIPTS = array();
//if(Js::exists($js_path.'admin/'.$this->controller)) $SCRIPTS[] = 'admin/'.$this->controller;
//if(Js::exists($js_path.'admin/'.$this->controller.'_'.$this->action)) $SCRIPTS[] = 'admin/'.$this->controller.'_'.$this->action;
?>
<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?=!empty($this->titulo)?strip_tags($this->titulo)." - ":""?>Administração - <?=SITE_TITLE?></title>
<script type="text/javascript">
// variáveis globais
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    DIR        = "<?=$this->section?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    SCRIPT     = <?=count($SCRIPTS) ? '["'.implode('","',$SCRIPTS).'"]' : 'false'?>,
    LANG       = "<?=$this->lang?>",
    LANGS      = <?=json_encode(explode(',',SITE_LANGUAGES))?>,
    LANGS_DESC = <?=json_encode(explode(',',SITE_LANGUAGES_DESC))?>,
    DEFAULT_LANGUAGE = "<?=DEFAULT_LANGUAGE?>",
    SITE_LANGUAGES   = "<?=SITE_LANGUAGES?>",
    TRANSLATE  = <?=json_encode(Is_Array::toObject($this->translate_object->getMessages()))?>,
    APP_ENV    = "<?=APP_ENV?>";
    ENV_DEV    = "<?=APP_ENV=='development'?>";
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";
</script>
<?=Css::$script_min($css).PHP_EOL?> <!-- adiciona css's e js's -->
<?=Js::$script_min($js).PHP_EOL?>
</head>
<body>

<? if($this->isLogged){ ?> <!-- topo -->
<div class="top">
    <h1><a href="<?=URL?>/admin/"><?=SITE_TITLE?></a></h1>
</div>
<? } ?>

<div class="main <?=$this->isLogged?"logged":""?> <?=$this->controller?> <?=$this->action?> <?=$this->controller.'_'.$this->action?>">
    <?=$this->isLogged ? $this->render('admin-menu.phtml') : "";?> <!-- menu -->
    
    <div class="content <?=$this->isLogged?"logged":""?> <?=$this->controller?> <?=$this->action?> <?=$this->controller.'_'.$this->action?>"> <!-- conteúdo -->
        <? if($this->isLogged){ ?>
        <?=$this->render("admin-flash-messages.phtml");?> <!-- mensagens de aviso -->
        <h2><?=!empty($this->titulo)?$this->titulo:"PAINEL"?></h2> <!-- título -->
        <div class="container">
        <? } ?>
        
        <?=$this->layout()->content;?> <!-- página atual -->
        
        <? if($this->isLogged){ ?>
        </div>
        <? } ?>
    </div>
    
    <br clear="all" />
</div>

<div class="foot"> <!-- rodapé -->
    &copy; <?=date("Y")?> <?=SITE_TITLE?> &bull; Todos os direitos reservados &bull; Criação de sites: Trupe
</div>

<?=Js::$script_min($js_path.'layout.js').PHP_EOL?>
<!--[if lt IE 9]>
<?=Js::$script_min($js_path.'html5.js').PHP_EOL?>
<![endif]-->
</body>
</html>