<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : '';
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : '';
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');
$css = array($css_path.'global.less');

if(!$this->meta_description) $this->meta_description = $this->translate('site_description');
if(!$this->meta_keywords) $this->meta_keywords = $this->translate('site_keywords');
/*if(!$this->meta_keywords) $this->meta_keywords = Is_Str::text2keywords(
    $this->meta_description,', ',10,
    '' // palavras para excluir de keywords
)*/;

$page_title = '';
if(isset($this->titulo)){
    $page_title.= $this->titulo." - ";
    $page_title.= $this->translate('site_title');
} else { 
    $page_title.= $this->controller != 'index'?ucfirst(Is_Str::subsCaracteres($this->controller," "))." - ":''; 
    $page_title.= $this->translate('site_title');
}
?>

<!DOCTYPE html>
<html lang="<?=$this->lang?>">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title><?=$page_title?></title>
<!-- <meta http-equiv="refresh" content="30"> -->

<? if(ENV_PRO && 0){ ?>
<link rel="shortcut icon" type="image/x-icon" href="<?=URL.'/favicon.png'?>">
<link rel="icon" type="image/x-icon" href="<?=URL.'/favicon.png'?>">
<? } ?>
<? if(ENV_PRO && 1){ ?>
<link rel="favicon" href="<?=URL?>/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<? } ?>

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:$page_title?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:$this->meta_description?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>"/>
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>" />

<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    DIR        = "<?=$this->section?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    LANG       = "<?=$this->lang?>",
    LANGS      = <?=json_encode(explode(',',SITE_LANGUAGES))?>,
    LANGS_DESC = <?=json_encode(explode(',',SITE_LANGUAGES_DESC))?>,
    TRANSLATE  = <?=json_encode(Is_Array::toObject($this->translate_object->getMessages()))?>,
    APPLICATION_ENV    = "<?=APPLICATION_ENV?>";
    APP_ENV    = "<?=APP_ENV?>";
    ENV_DEV    = "<?=APP_ENV=='development'?>";
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";
</script>
<?=Css::$script_min($css).PHP_EOL?>
<!--[if IE]>
<?=Css::$script_min($css_path.'global-ie.less').PHP_EOL?>
<?=Js::$script_min($js_path.'html5.js').PHP_EOL?>
<![endif]-->

<? if(1 && $this->controller=='contato'){ ?>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&key=<?=GMAPS_KEY?>"></script>
<script>
function initialize() {
    // Create an array of styles.
    var styles = [
        {
            stylers: [
                { saturation: -100 }
            ]
        },{
            featureType: "road",
            elementType: "geometry",
            stylers: [
                { lightness: 100 },
                { visibility: "simplified" }
            ]
        },{
            featureType: "road",
            elementType: "labels",
            stylers: [
                { visibility: "off" }
            ]
        }
    ];

    // Create a new StyledMapType object, passing it the array of styles,
    // as well as the name to be displayed on the map type control.
    var styledMap = new google.maps.StyledMapType(styles,
        {name: "Styled Map"});

    // Create a map object, and include the MapTypeId to add
    // to the map type control.
    // var myLatlng = new google.maps.LatLng(-23.5695917,-46.6597165,17);
    var myLatlng = new google.maps.LatLng(<?=$this->dados_empresa->lat?>,<?=$this->dados_empresa->lng?>,17);
    var mapOptions = {
        zoom: 17,
        center: myLatlng,
        disableDefaultUI: true,
        mapTypeControlOptions: {
            mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
        }
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
    });

    //Associate the styled map with the MapTypeId and set it to display.
    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
<? } ?>

</head>
<body class="body-<?=$this->controller?> body-<?=$this->controller.'-'.$this->action?>">

<?=$this->render("flash-messages.phtml");?>
<div id="fb-root"></div>

<div id="geral">

<header id="top" class="main-center">
    <a href="<?=URL?>" class="site-title">
        <span><?=$this->translate('site_title')?></span>
        <img src="<?=CSS_URL?>/img/Logo-BF.jpg" alt="<?=$this->translate('site_title')?>">
    </a>
    
    <nav class="top-menu <?=$this->lang?>" id="top-menu">
        <ul class="idiomas">
            <? $langs = explode(',',SITE_LANGUAGES); $langs_desc = explode(',',SITE_LANGUAGES_DESC); ?>
            <? $langs = ($langs); $langs_desc = ($langs_desc); ?>
            <? $i=-1; foreach($langs as $lang){ $i++; ?>
            <li><a href="?lang=<?=$lang?>" class="idiomas-<?=$lang?> <?=($lang==$this->lang)?'active1':''?>" title="<?=$langs_desc[$i]?>"><?=$langs[$i]?></a></li>
            <? } ?>
        </ul>
        <?=$this->navigation()->menu($this->menu->top);?>
    </nav>

    <a href="#" id="mobile-menu" class="mobile-cel mobile-menu" title="MENU">
        <span id="menu-lines"></span>
        <span id="menu-text"></span>
    </a>
</header>

<div class="main main-<?=$this->controller?> main-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">
    <section id="content" class="content content-<?=$this->controller?> content-<?=$this->controller.'-'.$this->action?>">
        <?=$this->layout()->content;?>
    </section>
</div>

<div class="foot foot-<?=$this->controller?> <?=($this->ajax ? 'ajax' : '')?>">
    <footer>
        <?/*=SITE_TITLE?> - Todos os direitos reservados - <?=date("Y")*/?>
        <?=$this->translate('site_title_footer')?> - <?=$this->translate('copyright')?> - <?=date("Y")?>
        <br class="mobile-cel">
        <!-- <a href="http://www.trupe.net" target="_blank">Criação de sites:</a> -->
        <!-- <a href="http://www.trupe.net" target="_blank">Trupe Agência Criativa <img src="<?=CSS_PATH?>/img/trupe.png" alt="Trupe Agência Criativa" title="Trupe Agência Criativa"></a> -->
        <a href="<?=$this->dados_empresa->instagram?>" class="icon-footer instagram" target="_blank" title="Instagram">Instagram</a>
        <a href="mailto:<?=$this->dados_empresa->email?>" class="icon-footer email" title="<?=$this->dados_empresa->email?>"><?=$this->dados_empresa->email?></a>
    </footer>
</div>

</div> <!-- #geral -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')</script>
<?=Js::load_inline(JS_PATH.'/cycle.min.js')?>
<?=Js::load_inline(JS_PATH.'/fancybox.min.js')?>
<?=Js::load_inline(JS_PATH.'/placeholder.min.js')?>
<?=Js::load_inline(JS_PATH.'/head.js')?>
<?=Js::load_inline(JS_PATH.'/main.js')?>
<?=Js::load_inline(JS_PATH.'/libs.js')?>
<?=Js::load_inline(JS_PATH.'/layout.js')?>

</body>
</html>