div.wysiwyg ul.panel li a{ height:14px }
div.wysiwyg ul.panel li a { opacity: 1.0; filter:alpha(opacity=100) }
div.wysiwyg ul.panel li a:hover { opacity: 0.50; filter:alpha(opacity=50) }
div.wysiwyg iframe { font-size:12px }

.main .content.logged form ul li.txt { margin-bottom: 20px; overflow: hidden; }
.main .content.logged form ul li.txt#li-alias { display: none; }
#fotos,#arquivos { display:block;float:right;width:300px; }

.frm-paginas { float:left }
.main .content.logged .frm-paginas ul li h3 {
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 0px;
}

#linhadotempo { width:600px; }