<p class="page-quote-text">
    <?/*=$this->translate('comofazemos_quote')*/?>
    <?=$this->translateDb($this->pagina,'body')?>
</p>

<section id="grid">
	<div class="grid grid-right">
		<img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto2').'?w=485&h=200'?>" alt="" />

		<p class="design-com-valor">
			<?=$this->translateDb($this->pagina,'body2')?>
		</p>

		<img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto4').'?w=485&h=320'?>" alt="" />
	</div>

	<div class="grid grid-left">
		<img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto1').'?w=485&h=200'?>" alt="" />

		<img src="<?=URL.'/img/paginas|'.$this->translateDb($this->pagina->fotos,'foto3').'?w=485&h=295'?>" alt="" />

		<p class="produto">
			<?=$this->translateDb($this->pagina,'body3')?>
		</p>
	</div>
</section>

<p class="page-quote-text quote2">
	<?=$this->translateDb($this->pagina,'body4')?>
</p>

<? if((bool)$this->etapas){ ?>
<section class="wrapper-loc" id="etapas">
	<span class="icone"></span>

	<? foreach($this->etapas as $row){ ?>
	<? /*$foto = 'comofazemos_etapa'.($i+1).'.png';*/ ?>
	<div class="etapa etapa-<?=$row->id?>" <?/*style="background-image:url('<?=IMG_PATH.'/ref/'.$foto?>')"*/?>>
		<h2>
			<span class="etapa-title-etapa"><?=$this->translate('etapa')?> <?=($row->ordem)?>.</span> 
			<span class="etapa-title-title"><?=$this->translateDb($row,'titulo')?></span>
		</h2>

		<? if((bool)$row->fotos){ ?>
		<div class="etapa-img">
			<? foreach($row->fotos as $foto){ if(!$foto->lang || $foto->lang==$this->lang){ ?>
			<img src="<?=IMG_PATH.'/etapas/'.$foto->path?>" alt="" />
			<? }} ?>
		</div>
		<? } ?>

		<div class="etapa-text">
			<?=cleanHtml($this->translateDb($row,'body'))?>
			<?/*<p>Lorem ipsum Anim <b>mollit</b> magna do dolor et ullamco amet amet cupidatat consequat et sunt reprehenderit ut adipisicing pariatur pariatur Excepteur qui esse eu qui sit dolore veniam dolore minim mollit ut non laboris.</p>
			<p>Lorem ipsum Anim mollit magna do dolor et ullamco amet amet <b>cupidatat</b> consequat et sunt reprehenderit ut adipisicing pariatur pariatur Excepteur qui esse eu qui sit dolore veniam dolore minim mollit ut non laboris.</p>

			<h3>Lorem ipsum Veniam ut anim laborum</h3>

			<ul>
				<li>Lorem ipsum Sit aliqua ad aliqua tempor.</li>
				<li>Lorem ipsum Sit aliqua ad aliqua tempor.</li>
				<li>Lorem ipsum Sit aliqua ad aliqua tempor.</li>
			</ul>*/?>
		</div>
	</div>
	<? } ?>
</section>
<? } ?>