<?=Js::script('MAX_SIZE = '.($this->MAX_SIZE).'*1048576;')?>

<div class="content-right">
    <div id="fotos">
        <?=$this->render('home/fotos.phtml');?>
        <?/*=$this->render('home/fotos-m.phtml');*/?>
    </div>
</div>

<div id="form-new1">
    Cadastro das imagens da página inicial.
</div>
<?/*
<div class="tabs tabs-lang">
    <!-- tabs -->
    <ul class="tabs-navigation">
        <li><a href="#pt" rel="" class="selected">Português</a></li>
        <li><a href="#en" rel="">Inglês</a></li>
    </ul>
</div>

<div id="form-new">
    <?//<p>
        <br /><br />
        Insira ao lado as imagens do banner da home.
    </p>?>

    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>" id="li-<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                <?=$elm->render();?>
                
                <? if($elm->getId() == "valor"){ ?>
                <!--<br clear="all" />-->
                <? } ?>
            </li>
            <? if($elm->getId() == "senha-c"){ ?>
            </ul></fieldset>
            <? } ?>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
        </div>
    </form>
</div>
*/?>