    <div id="projetos" class="centro">
        <h1 class="titulo"><?=$this->translate('projetos')?></h1>

        <nav class="projetos-categorias">
            <? foreach ($this->categorias as $cat) { ?>
            <a href="<?=URL.'/projetos/'.$cat->alias?>" class="<?=($cat->id==$this->categoria)?'active':''?>">
                <?=$this->translateDb($cat,'descricao')?>
            </a>
            <? } ?>
        </nav>

        <div class="projetos-lista">
            <? foreach ($this->rows as $row) { ?>
            <a href="<?=URL.'/projeto/'.$row->alias.'/'.$row->id?>" class="projetos-thumb">
                <img src="<?=URL.'/img/projetos:'.$row->thumbnail?>?w=450&h=360" alt="">
                <div class="overlay">
                    <p>
                        <?=$this->translateDb($row,'titulo')?>
                        <?=((bool)$row->cliente)?' - '.$row->cliente:''?>
                    </p>
                </div>
            </a>
            <? } ?>
        </div>

        <?=($this->pagination->total > $this->pagination->limit) ? $this->pagination->render(false,'paginacao','active') : ''?>
    </div>