<section id="<?=$this->controller?>" class="main-center">
	<article class="pagina">
		<div class="pagina-body">
			<div class="pagina-body-big" id="pagina-body-1">
				<?=$this->translateDb($this->pagina,'body')?>
			</div>
			
			<div class="" id="pagina-body-2">
				<?=$this->translateDb($this->pagina,'body2')?>
			</div>
		</div>
		
		<? //if((bool)trim($this->pagina->fotos_fixas->{'foto1_'.$this->lang})){ ?>
		<? if((bool)trim($this->translateDb($this->pagina->fotos_fixas,'foto1'))){ ?>
		<div class="pagina-img">
			<figure>
				<img src="<?=IMG_URL.'/paginas/'.$this->translateDb($this->pagina->fotos_fixas,'foto1')?>" alt="<?=$this->translateDb($this->pagina,'titulo')?>" />
			</figure>
		</div>
		<? } ?>
	</article>
</section>