<div id="rodape_items" class="form-list">
    <h3>CASES</h3>
    
    <form action="<?=$this->url?>save-items" class="frm-rodape-items" method="post">
        <ul class="row-list">
            <? if($this->rows){ foreach($this->rows as $row){ ?>
            <li>
                <? if(count($row->children)){ ?>
                <a href="#" class="row-action row-action-sub" data-id="<?=$row->id?>">Sub menu &rarr;</a>
                <? } ?>
                <?=utf8_encode($row->titulo)?>
                <br clear="all" />
                <a href="#" class="row-order order-up" title="Clique, segure e arraste para ordenar os itens."></a>
                <a href="#" class="row-order order-down" title="Clique, segure e arraste para ordenar os itens."></a>
                <input type="hidden" class="row-id" name="id[]" value="<?=$row->id?>" />
                <input type="hidden" class="txt row-ordem" name="ordem[]" value="<?=$row->ordem?>" />
            </li>
            <? }} ?>
        </ul>
        
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
        </div>
    </form>
</div>

<div id="rodape_items2" class="form-list2">
    <? if($this->rows){ foreach($this->rows as $row){ ?>
    <? if(count($row->children)){ ?>
    <div id="rodape_item_<?=$row->id?>" class="form-list">
        <h3><?=$row->titulo?></h3>
        
        <form action="<?=$this->url?>save-items" class="frm-rodape-items" method="post">
            <ul class="row-list">
                <? foreach($row->children as $row2){ ?>
                <li>
                    <?=utf8_encode($row2->titulo)?>
                    <br clear="all" />
                    <a href="#" class="row-order order-up" title="Clique, segure e arraste para ordenar os itens."></a>
                    <a href="#" class="row-order order-down" title="Clique, segure e arraste para ordenar os itens."></a>
                    <input type="hidden" class="row-id" name="id[]" value="<?=$row2->id?>" />
                    <input type="hidden" class="txt row-ordem" name="ordem[]" value="<?=$row2->ordem?>" />
                </li>
                <? } ?>
            </ul>
            
            <div class="bt-container">
                <a href="#" class="cancel" data-id="<?=$row->id?>">Cancelar</a>
                <input type="submit" class="bt" value="Salvar" id="submit" />
            </div>
        </form>
    </div>
    <? } ?>
    <? }} ?>
</div>