<form action="<?=URL?>/contato/enviar" class="contato">
    <ul>
        <li>
            <label for="nome"><?=$this->translate('campo_nome')?></label>
            <input type="text" name="nome" id="nome" class="txt" required />
        </li>
        <li>
            <label for="email"><?=$this->translate('campo_email')?></label>
            <input type="email" name="email" id="email" class="txt" required />
        </li>
        <li>
            <label for="tel"><?=$this->translate('campo_tel')?></label>
            <input type="text" name="ddd" id="ddd" class="txt mask-int" maxlength="2" />
            <input type="text" name="tel" id="tel" class="txt mask-int" maxlength="9" />
        </li>
        <li class="full">
            <label for="assunto"><?=$this->translate('campo_assunto')?></label>
            <input type="assunto" name="assunto" id="assunto" class="txt" required />
        </li>
        <li class="full">
            <label for="mensagem"><?=$this->translate('campo_mensagem')?></label>
            <textarea name="mensagem" id="mensagem" class="txt" required></textarea>
        </li>
        <li class="full">
            <span class="status"></span>
            <input type="submit" class="submit" value="<?=$this->translate('campo_enviar')?>" />
        </li>
    </ul>
</form>