<form action="<?=URL?>/contato/faca-parte" class="faca-parte" enctype="multipart/form-data" method="post">
    <ul>
        <li>
            <label for="nome"><?=$this->translate('campo_nome')?></label>
            <input type="text" name="nome" id="nome" class="txt" required />
        </li>
        <li>
            <label for="email"><?=$this->translate('campo_email')?></label>
            <input type="email" name="email" id="email" class="txt" required />
        </li>
        <li>
            <label for="tel"><?=$this->translate('campo_tel')?></label>
            <input type="text" name="ddd" id="ddd" class="txt mask-int" maxlength="2" />
            <input type="text" name="tel" id="tel" class="txt mask-int" maxlength="9" />
        </li>
        <li class="half">
            <label for="arquivo"><?=$this->translate('campo_arquivo')?></label>
            <input type="file" name="arquivo" id="arquivo" class="arquivo   " />
        </li>
        <li class="half">
            <label for="portfolio"><?=$this->translate('campo_portfolio')?></label>
            <input type="portfolio" name="portfolio" id="portfolio" class="txt" required />
        </li>
        <li class="full">
            <label for="mensagem"><?=$this->translate('campo_mensagem')?></label>
            <textarea name="mensagem" id="mensagem" class="txt" required></textarea>
        </li>
        <li class="full">
            <span class="status"></span>
            <input type="submit" class="submit" value="enviar" />
        </li>
    </ul>
</form>