<section id="<?=$this->controller?>" class="main-center">
    <div class="pagina-body">
        <p class="titulo"><?=$this->translateDb($this->dados_empresa,'cidade')?></p>
        <div class="info">
            <p class="endereco">
                <? if((bool)trim($this->translateDb($this->dados_empresa,'endereco'))){ ?>
                <?=$this->translateDb($this->dados_empresa,'endereco')?> <br>
                <? } ?>
                <? if((bool)trim($this->translateDb($this->dados_empresa,'bairro'))){ ?>
                <?=$this->translateDb($this->dados_empresa,'bairro')?> <br>
                <? } ?>
                CEP: <?=Is_Format::cep($this->dados_empresa->cep)?> <br>
                <? if((bool)trim($this->translateDb($this->dados_empresa,'cidade'))){ ?>
                <?=$this->translateDb($this->dados_empresa,'cidade')?> /
                <? } ?>
                <? if((bool)trim($this->translateDb($this->dados_empresa,'estado'))){ ?>
                <?=$this->translateDb($this->dados_empresa,'estado')?> <br>
                <? } ?>
                <? if((bool)trim($this->translateDb($this->dados_empresa,'pais'))){ ?>
                <?=$this->translateDb($this->dados_empresa,'pais')?>
                <? } ?>
            </p>
            <p class="atendimento">
                <?=$this->translateDb($this->dados_empresa,'atendimento')?>
            </p>
        </div>

        <div class="info1">
            <p class="email">
                <?=$this->translate('campo_email')?>: <br>
                <a href="mailto:<?=$this->dados_empresa->email?>" class="email"><?=$this->dados_empresa->email?></a>
            </p>
            <p class="telefone">
                <?=$this->translate('campo_telefone')?>: <br>
                <a href="tel:<?=$this->translateDb($this->dados_empresa,'tel1')?>" class="tel"><?=$this->translateDb($this->dados_empresa,'tel1')?></a>
            </p>
        </div>
        
        <div class="info2">
            <form action="#" id="contato-form">
                <span class="titulo"><?=$this->translate('menu_contato')?></span>
                <label for="nome"><?=$this->translate('campo_nome')?></label>
                <input class="txt" name="nome" id="nome" type="text" required>
                <label for="email"><?=$this->translate('campo_email')?></label>
                <input class="txt" name="email" id="email" type="email" required>
                <label for="telefone"><?=$this->translate('campo_telefone')?></label>
                <input class="txt mask-cel" name="telefone" id="telefone" type="text" >
                <label for="mensagem"><?=$this->translate('campo_mensagem')?></label>
                <textarea class="txt" name="mensagem" id="mensagem" rows="1" required></textarea>
                <br clear="all">
                <button type="send" class="submit"><?=$this->translate('enviar')?></button>
                <div class="response">
                    <p><?=$this->translate('campo_status_ok')?></p>
                </div>
                <br clear="all">
            </form>
            <div class="representantes-wrapper">
                <a href="#" class="representantes-opener closed"><?=$this->translate('menu_representantes')?></a>
                <div class="representantes">
                    <?=$this->translateDb($this->dados_empresa,'representantes')?>
                </div>
            </div>
        </div>
    </div>

    <div class="pagina-mapa">
        <? if(1){ ?>
        <div id="map-canvas" class="content-maps"></div>
        <? } else { ?>
        <iframe id="mapa" src="https://maps.google.com/maps?q=<?=_parseEndereco($this->dados_empresa)?>&output=embed" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        <? } ?>
    </div>

    <br clear="all">
</section>