<?=Js::script('var MAX_FOTOS = 1, MAX_SIZE = 5242880, allow_photos=false;')?>
<?=Css::load(CSS_PATH."/admin/paginas-clientes.less");?>
<?=Js::load(JS_PATH."/admin/paginas-clientes.js");?>

<script type="text/javascript">
// var DIR = "<?=$this->section?>";
// var URL = "<?=URL?>";
</script>

<h3>&raquo; GRUPO</h3>

<div class="linha-tools">
    <a href="<?=URL.'/admin/clientes/new/?pagina_id='.$this->id?>" class="linha-add">+ Adicionar</a>
    <input type="hidden" id="linha-pagina-id" value="<?=$this->id?>" />
</div>

<ul class="linha-list">
    <li class="title">
        <span class="linha-title">Nome</span>
    </li>
    <? if($this->clientes){ foreach($this->clientes as $linha){ ?>
    <li>
        <a href="#" class="linha-action linha-action-del">Excluir</a>
        <?/*<a href="#" class="linha-action linha-action-save">Salvar</a>*/?>
        
        <a href="<?=URL.'/admin/clientes/edit/'.$linha->id?>/"><?=$linha->{'titulo_'.$this->lang}?></a>
        <input type="hidden" class="linha-id" name="linha-id[]" value="<?=$linha->id?>" />
    </li>
    <? }} ?>
</ul>

<div class="linha-tools">
    <div class="linha-status"><ul></ul></div>
</div>