<script type="text/javascript">
PHOTO_DESCRIPTION = true;
var ID = <?=$this->id?"'{$this->id}'":"false"?>;
</script>

<br clear="all" />

<? if($this->alias=='relacionamento'){ ?>
<h3 class="m">GALERIA</h3>
<? } ?>

<ul id="paginas_fotos2" class="list_fotos2">
    <? if(count($this->fotos2)){ foreach($this->fotos2 as $foto){ ?>
    <li>
        <a href='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>' rel='gallery_group2'>
            <img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>?w=90&h=90'>
        </a>
        <input type="text"
               name="foto_descricao[]"
               class="txt foto_descricao"
               id="foto_descricao_<?=$foto->foto_id?>"
               value="<?=$foto->descricao?>"
               data-foto-id="<?=$foto->foto_id?>"
               data-pagina-id="<?=$this->id?>" />
        <button title="Delete" class="ui-state-default ui-corner-all file-delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" name="foto_id[]" value="<?=$foto->foto_id?>" class="foto_id" />
        <span class="foto_status"></span>
    </li>
    <? }} ?>
</ul>

<div id="file_upload_container2">
    <form id="file_upload2" action="<?=$this->url?>upload.json?id=<?=$this->id?>&flag=g" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple />
        <button>Enviar imagens</button>
        <div>Enviar imagens</div>
        <input type="hidden" name="pagina_id" id="pagina_id2" value="<?=$this->id?>" />
    </form>
    
    <p style="margin:10px 0;color:#666;font-style:italic;">
        * Para colocar um vídeo do youtube, envie uma imagem para a miniatura e coloque o link do vídeo ao final da descrição da imagem.
    </p>
    
    <table id="file_upload_list2" cellspacing="0" width="100%"></table>
</div>