<div class="comentarios">
	<? if(!$this->comments_show){ ?>
	<form action="#" class="frm-comentario login">
		<a href="#comentar" class="comentar" id="comentar" name="comentar">Comentar:</a>
		<br />
		<p>
			Você precisa estar logado no site para postar / ver os comentários.
			<br><br>
			<a href="<?=URL?>/login" class="login">FAZER LOGIN</a>
		</p>
	</form>
	<? } else { ?>
	<span class="ad">
		<? if($this->blog->moderacao_comments==1){ ?>
		* Os comentários deverão ser pré-aprovados pela moderação.
		<? } else if($this->blog->moderacao_comments==2){ ?>
		* Os comentários estão sujeitos à moderação.
		<? } ?>
	</span>
	<span class="comment-count">
		<?=count($this->comments)>0?count($this->comments):'Nenhum'?> comentário<?=count($this->comments)>1?'s':''?>:
	</span>
	
	<ul>
		<? if(@count($this->comments)){ foreach($this->comments as $row){ ?>
		<? $waiting_mod = ($this->blog->moderacao_comments==1 && $row->status==0 && $row->user_cad == @$this->login->user->id); ?>
		<? if(($this->blog->moderacao_comments==0) ||
			  ($this->blog->moderacao_comments==2 && $row->status==1) ||
			  ($this->blog->moderacao_comments==1 && $row->status==1) ||
			  ($waiting_mod)
			  ){ ?>
		<li>
			<? /*$d = new Zend_Date($row->data_cad); ?>
			<? $dt = $d->toString("EEEE, dd 'de' MMMM 'de' YYYY");*/ ?>
			<? $f = array('hr_sep'=>' as ','dm'=>"d 'de' MMMM",'dmy'=>"d 'de' MMMM 'de' YYYY",'h'=>"H'h'mm"); ?>
			<? $dt = Is_Date::pretty($row->data_cad,true,false,$f); ?>
			<span class="title"><b><?=$row->usuario?$row->usuario->nome:(bool)$row->nome?$row->nome:'Anônimo'?></b></span>
			<span class="date">
				<?=($waiting_mod)?'* Aguardando moderação ':''?>
				<?=$dt?>
			</span>
			<span class="comment"><?=nl2br($row->comentario)?></span>
		</li>
		<? } ?>
		<? }} else { ?>
		<!-- <li class="no-comment"> -->
			<span>Nenhum comentário até o momento.</span><br><br>
		<!-- </li> -->
		<? } ?>
	</ul>

	<form action="<?=URL.'/'.$this->controller.'/comentar'?>" class="frm-comentario">
		<? if(!$this->login->user){ ?>
		<input type="text" id="nome" name="nome" class="txt prevalue" data-prevalue="Nome..." />
		<? } ?>
		
		<textarea name="comentario" id="comentario" class="txt prevalue" data-prevalue="Escreva seu comentário..."></textarea>
		
		<input type="hidden" name="blog_post_id" value="<?=$this->noticia->id?>" />
		
		<div class="submit-container">
			<input type="submit" id="submit" class="submit" value="Comentar" />
			<span class="seta"></span>
			<span class="status"></span>
		</div>
	</form>
	<? } ?>
</div>