<div class="form-busca">
    <form action="<?=URL?>/blog/">
    	<input type="submit" class="submit" id="busca-submit" value="Buscar" title="Buscar" />
    	<label for="busca-texto">encontre o produto que você procura:</label>
        <input type="text" class="txt <?=$this->busca?'':'prevalue'?>" id="busca-texto" name="busca" <?=$this->busca?'value="'.$this->busca.'"':'data-prevalue="buscar"'?> />
    </form>
</div>