<? if($this->noticias){ ?>
<? foreach($this->noticias as $noticia){ ?>
<div class="blog-post">
	<h2><a href="<?=URL.'/blog/'.$noticia->alias?>/"><?=$noticia->titulo?></a></h2>
	<?/*<span class="data"><?=Is_Date::am2br($noticia->data_cad)?></span>*/?>

	<? $d = new Zend_Date($noticia->data_cad); ?>
	<?/* $dt = $d->toString("EEEE, dd 'de' MMMM 'de' ").date('Y',strtotime($noticia->data_cad)); */?>
	<? $dt = $d->toString("dd 'de' MMMM 'de' ").date('Y',strtotime($noticia->data_cad)); ?>
	<span class="data">Em <?=$dt?></span>
	
	<? $cropTextAt = 2100 - strlen($noticia->titulo); ?>
	<? $fotos = $noticia->fotos; ?>
	<? if((bool)$fotos){ $cropTextAt = 900 - strlen($noticia->titulo); ?>
	<img src="<?=URL.'/img/blogs-posts|'.$fotos[0]->path?>?w=510&h=1020" alt="<?=$noticia->titulo?>" />
	<? } ?>
	<!-- <img src="<?=CSS_PATH?>/img/diario_de_viagem/foto.jpg" alt="" /> -->
	
	<span class="descricao" style="">
		<?
		// replace audio bbcode
		$p = '\[audio\](.*)\[\/audio]';
		$r = '<iframe width="410" height="136" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?auto_play=false&show_artwork=false&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F\1"></iframe>';
		$html2 = ereg_replace($p,$r,stripslashes($noticia->body));
	
		// replace video bbcode
		$p = '\[video\](.*)\[\/video]';
		$r = '<iframe width="410" height="300" scrolling="no" frameborder="no" src="http://www.youtube.com/embed/\1"></iframe>';
		$html2 = ereg_replace($p,$r,$html2);
		?>
		<?=Is_Str::crop(Php_Html::toText($html2,false,true),$cropTextAt)?>
		<!-- <a href="<?=URL.'/'.$this->controller.'/'.$noticia->alias?>/" class="blog-leia-mais">Leia mais &raquo;</a> -->
	</span>
	<br />

	<? if(APPLICATION_ENV=='development'){ ?>
	<div class="compartilhe">
		<? $url = URL.'/'.$this->controller.'/'.$noticia->alias.'/'; ?>
        <? $bitly = APPLICATION_ENV=='production' ? $this->bitly->short($url) : $url; ?>
        <!-- <a href="http://twitter.com/home?status=<?=urlencode(Is_Str::crop($noticia->alias,(140-(strlen($bitly))-1)).' '.$bitly)?>" class="detalhe-share-twitter" target="_blank">Twitter</a> -->
		<!-- <?=$url?> -->

		<div class="facebook">
            <!-- <iframe src="//www.facebook.com/plugins/like.php?href=<?=urlencode(URL.'/'.$this->controller.'/'.$noticia->alias)?>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe> -->
            <iframe src="//www.facebook.com/plugins/like.php?href=<?=urlencode($bitly)?>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
        </div>

        <div class="twitter">
            <!-- <a href="https://twitter.com/share" class="twitter-share-button" data-url="<?=URL.'/'.$this->controller.'/'.$noticia->alias?>" data-text="<?=$noticia->titulo?>" data-lang="pt">Tweetar</a> -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="<?=$bitly?>" data-text="<?=$noticia->titulo?>" data-lang="pt">Tweetar</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        
		<!-- <a href="#compartilhar" class="compartilhar" id="compartilhar" name="compartilhar">Compartilhe:</a> -->
	</div>
	<? } ?>

	<a href="<?=URL.'/'.$this->controller.'/'.$noticia->alias?>/#comentarios" class="share comente">
		<?/*<span class="comentarios-count">
			<?=$noticia->comentarios_count?>
		</span>
		Comentários*/?>
		Comentar
	</a>
</div>
<? } ?>

<div class="paginacao">
<? /*_d($this->total,false);*/ ?>
<? $this->paginacao->get_page(); if((int)$this->total > 1){
    $t = (int)$this->total;
    $p = $this->paginacao->get_page();
    
    if($p != 1){
        echo '<a href="'.$this->paginacao->_build_uri($p-1).'" class="navigation right">Novo</a>';
    }
    
    if($p != $t){
        echo '<a href="'.$this->paginacao->_build_uri($p+1).'" class="navigation left">Antigo</a>';
    }
} ?>
</div>

<?/*
<div class="pagination">
	<? $this->paginacao->get_page(); if($this->paginacao->_total_pages > 1){
	    $t = $this->paginacao->_total_pages;
	    $p = $this->paginacao->get_page();
	    
	    if($p != 1){
	        echo '<a href="'.$this->paginacao->_build_uri($p-1).'" class="navigation-blog new"><span class="seta-blog"></span><span class="text">Novo</span></a>';
	    }

	    if($p != $t){
	        echo '<a href="'.$this->paginacao->_build_uri($p+1).'" class="navigation-blog old"><span class="text">Antigo</span><span class="seta-blog"></span></a>';
	    }

	    echo $this->paginacao->render();
	} ?>
</div>
*/?>

<? } else if(!$this->noticia){ echo '<i>Nenhum texto postado até o momento.</i>';} ?>

<? if($this->noticia){ ?>
<div class="blog-post post">
	<h2 class="noticia-title"><?=$this->noticia->titulo?></h2>

	<? $d = new Zend_Date($this->noticia->data_cad); ?>
	<? $dt = $d->toString("dd 'de' MMMM 'de' YYYY"); ?>
	<span class="data">Em <?=$dt?></span>

	<? /*$p = '(\<img.*)(\")'; $r = '\\1?w=440&h=300\\2'; ?>
    <div class="descricao"><?=eregi_replace($p,$r,stripslashes($this->noticia->body))?></div>
    */ ?>
    <? Lib::import('phpQuery');
    $html = phpQuery::newDocumentHTML('<div class="descricao">'.stripslashes($this->noticia->body).'</div>');

	$imgs = $html->find('img'); // redimensionando as imagens
	foreach($imgs as $img){
		pq($img)->attr('data-src',pq($img)->attr('src'));
		pq($img)->attr('src',pq($img)->attr('src').'?w=485&h=350');
	}
	
	$ps = $html->find('p'); // retirando estilos extras dos parágrafos
	foreach($ps as $p) pq($p)->attr('class','')->attr('align','')->attr('style','');
	
	// replace audio bbcode
	$p = '\[audio\](.*)\[\/audio]';
	$r = '<iframe width="410" height="136" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?auto_play=false&show_artwork=false&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F\\1"></iframe>';
	$html2 = ereg_replace($p,$r,$html->html());

	// replace video bbcode
	$p = '\[video\](.*)\[\/video]';
	$r = '<iframe width="410" height="300" scrolling="no" frameborder="no" src="http://www.youtube.com/embed/\\1"></iframe>';
	$html2 = ereg_replace($p,$r,$html2);

	// replace link bbcode
	$p = '\<a(.*)\<\/a\>';
	$r = '<a target="_blank" rel="nofollow" \\1</a>';
	$html2 = ereg_replace($p,$r,$html2);

	echo $html2; ?>

	<div class="compartilhe">
		<? $url = URL.'/'.$this->controller.'/'.$this->noticia->alias.'/'; ?>
        <? $bitly = APPLICATION_ENV=='production' ? $this->bitly->short($url) : $url; ?>
        <!-- <a href="http://twitter.com/home?status=<?=urlencode(Is_Str::crop($this->noticia->alias,(140-(strlen($bitly))-1)).' '.$bitly)?>" class="detalhe-share-twitter" target="_blank">Twitter</a> -->
		<!-- <?=$url?> -->

		<div class="facebook">
            <!-- <iframe src="//www.facebook.com/plugins/like.php?href=<?=urlencode(URL.'/'.$this->controller.'/'.$this->noticia->alias)?>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe> -->
            <iframe src="//www.facebook.com/plugins/like.php?href=<?=urlencode($bitly)?>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
        </div>

        <div class="twitter">
            <!-- <a href="https://twitter.com/share" class="twitter-share-button" data-url="<?=URL.'/'.$this->controller.'/'.$this->noticia->alias?>" data-text="<?=$this->noticia->titulo?>" data-lang="pt">Tweetar</a> -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="<?=$bitly?>" data-text="<?=$this->noticia->titulo?>" data-lang="pt">Tweetar</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        
		<!-- <a href="#compartilhar" class="compartilhar" id="compartilhar" name="compartilhar">Compartilhe:</a> -->
	</div>

	<a href="<?=URL.'/'.$this->controller.'/'.$this->noticia->alias?>/#comentarios" class="share comente in-post">
		<span class="comentarios-count">
			<?=$this->noticia->comentarios_count?>
		</span>
		Comentário<?=count($this->comments)>1?'s':''?>
	</a>

	<? if($this->blog->has_comments){ ?>
	<br clear="all">
	<?=$this->render('blog/comentarios.phtml')?>
	<? } ?>
</div>

<? } ?>