<div class="social">
    <a href="http://ateliedemascaras.blogspot.com" title="Acompanhe nosso Blog" class="social-link social-link-blogger" target="_blank">
        Blogger
    </a>
    <a href="http://www.facebook.com/ateliedmascaras" title="Curta nosso Facebook" class="social-link social-link-facebook" target="_blank">
        Facebook
    </a>
    <a href="http://twitter.com/ateliedmascaras" title="Siga-nos no Twitter" class="social-link social-link-twitter" target="_blank">
        Twitter
    </a>
    <a href="http://instagr.am/ateliedemascaras" title="Siga-nos no Instagram" class="social-link social-link-instagram" target="_blank">
        Instagram
    </a>
</div>