    <div id="projetos-interna" class="centro">
        <h1 class="titulo"><?=$this->translate('projetos')?></h1>

        <? $row = $this->row; ?>
        <div class="right">
            <h3>
                <?=$this->translateDb($row,'titulo')?>
                <?=((bool)$row->cliente)?' - '.$row->cliente:''?>
            </h3>
            <p><?=nl2br($this->translateDb($row,'descricao'))?></p>

            <a href="<?=URL?>/projetos"><?=$this->translate('projetos_voltar')?></a>
        </div>

        <? if ((bool)$row->fotos) { ?>
        <div class="left">
            <? foreach ($row->fotos as $foto) { ?>
            <a class="lightbox" rel="group" href="<?=URL.'/img/projetos:'.$foto->path?>" title="<?=$this->translateDb($foto,'descricao')?>">
                <img src="<?=URL.'/img/projetos:'.$foto->path?>" alt="<?=$this->translateDb($foto,'descricao')?>">
            </a>
            <? } ?>
        </div>
        <? } ?>

        <a href="<?=URL?>/projetos" class="voltar-mobile"><?=$this->translate('projetos_voltar')?></a>

    </div>