    <div id="mostras" class="centro">
        <h1 class="titulo"><?=$this->translate('mostras')?></h1>

        <div class="mostras-lista">
            <? foreach ($this->rows as $row) { ?>
            <a href="<?=URL.'/mostra/'.$row->alias?>" class="mostras-thumb">
                <img src="<?=URL.'/img/mostras:'.$row->thumbnail?>?w=550&h=270" alt="">
                <div class="overlay">
                    <p>
                        <?=$this->translateDb($row,'titulo')?>
                        <?=((bool)$row->cliente)?' - '.$row->cliente:''?>
                    </p>
                </div>
            </a>
            <? } ?>
        </div>

        <?=($this->pagination->total > $this->pagination->limit) ? $this->pagination->render(false,'paginacao','active') : ''?>
    </div>