<script>
$(document).ready(function(){
    //$("#alias").val("/dsuihfuisdfds/fdsoifdsoi/");
    //$("#alias").getAlias("#nome");
    
    $('textarea.wysiwyg').wysiwyg({
        css:{fontFamily:'Arial,sans-serif',fontSize:'13px',margin:0,padding:0},
        visible:'h2,h3,'+
                'bold,italic,underline,separator00,'+
                'insertUnorderedList,insertOrderedList,indent,outdent,separator01,'+
                //'createLink<?=$this->allow_photos?",insertImage":""?>,'+
                'createLink,'+
                'separator02,undo,redo,separator03,removeFormat',
        plugins: {
            rmFormat: { rmMsWordMarkup: true }
        }
    });
    $('div.wysiwyg,div.wysiwyg iframe').css('width','600px');
    
    $("#submit").click(function(e){
        if($.trim($("#body").val()).length == 0){
            e.preventDefault();
            Msg.add("Preencha todos os campos corretamente.","erro").show();
            return false;
        }
    });
});
</script>

<? if($this->allow_photos){ ?>
<div id="fotos">
    <?=$this->render($this->section.'/fotos.phtml');?>
    
    <? if($this->allow_photos2){ ?>
    <?=$this->render($this->section.'/fotos-galeria.phtml');?>
    <? } ?>
</div>
<? } ?>

<form action="<?=$this->escape($this->form->getAction());?>" method="<?=$this->escape($this->form->getMethod());?>" class="frm-paginas">
    <ul>
        <? foreach($this->form->getElements() as $elm){ ?>
        <li class="<?=$elm->getAttrib("class")?> <?=$elm->getId()=='descricao'?"bt-left":""?>">
            <? if($elm->getId() != "submit"){ ?>
            <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
            <? } ?>
            
            <?=$elm->render()?>
        </li>
        <br clear="all" />
        <? } ?>
    </ul>
    
    <input type="hidden" name="action" value="<?=$this->action?>" />
</form>