<?=Js::script('var blog_posts = '.((bool)$this->blog_posts?json_encode($this->blog_posts):'false').';'.
              'var usuarios   = '.((bool)$this->usuarios?json_encode($this->usuarios):'false').';')?>

<?=$this->render($this->section."/search.phtml");?>

<div class="<?-$this->section?> search-result">
    <? if($this->rows && @count($this->rows)){ ?>
    <table>
        <thead>
            <tr>
                <td width="200">Post</td>
                <td width="200">Por</td>
                <td>Comentário</td>
                <td width="100" align="center">Inserido em</td>
                <td width="50" align="center">Status</td>
                <? if($this->login->user->role != 3) { ?>
                <td width="50" align="center">Excluir</td>
                <? } ?>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->rows as $row){ ?>
            <? $data_cad = explode(" ",$row->data_cad); $data_cad = Is_Date::am2br($data_cad[0]); ?>
            <? $status = $row->status == 0 ? "Inativo" : "Ativo"; ?>
            <tr>
                <td>
                    <? if($this->login->user->role == 3) { echo Is_Str::br2nl($row->post->{'titulo_'.$this->lang}," "); } else { ?>
                    <a href="<?=$this->url.'/edit/'.$row->id?>"><?=Is_Str::br2nl($row->post->{'titulo_'.$this->lang}," ")?></a>
                    <? } ?>
                </td>
                <td>
                    <? if($this->login->user->role == 3) { echo $row->user ? $row->user->nome : ($row->nome ? $row->nome : 'Anônimo'); } else { ?>
                    <a href="<?=$this->url.'/edit/'.$row->id?>"><?=$row->user ? $row->user->nome : ($row->nome ? $row->nome : 'Anônimo')?></a>
                    <? } ?>
                </td>
                <td>
                    <? if($this->login->user->role == 3) { echo Is_Str::br2nl($row->comentario," "); } else { ?>
                    <a href="<?=$this->url.'/edit/'.$row->id?>"><?=Is_Str::br2nl($row->comentario," ")?></a>
                    <? } ?>
                </td>
                <td align="center">
                    <? if($this->login->user->role == 3) { echo $data_cad; } else { ?>
                    <a href="<?=$this->url.'/edit/'.$row->id?>"><?=$data_cad?></a>
                    <? } ?>
                </td>
                <td align="center">
                    <? if($this->login->user->role == 3) { echo $status; } else { ?>
                    <?=$this->formCheckbox('status_'.$row->id,$row->status,array('class'=>'chk_status','data-id'=>$row->id),array(1,0))?>
                    <label for="status_<?=$row->id?>">
                        Ativo
                    </label>
                    <? } ?>
                </td>
                <? if($this->login->user->role != 3) { ?>
                <td align="center">
                    <a href="<?=$this->url.'/del/id/'.$row->id?>" class="del">X</a>
                </td>
                <? } ?>
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    Nenhum registro.
    <? } ?>
</div>

<br clear="all" />
<?=$this->paginacao->render()?>