<section id="blog" class="main-center">
    <? if($this->noticia) echo $this->render('blog/post.phtml'); else { ?>
    <? $j=0; foreach ($this->noticias as $post) { $j++; ?>
    <? $noimg = !((bool)$post->fotos) ? 'noimg' : ''; ?>
    <div class="blog-post <?=$noimg?>">
        <div class="body">
            <div class="body-container">
                <h2 class="titulo">
                    <?=$this->translateDb($post,'titulo')?>
                    <?/*<a href="<?=URL.'/blog/'.$post->alias.'-'.$post->id?>"><?=$this->translateDb($post,'titulo')?></a>*/?>
                </h2>
                <?/*<div class="post-info">
                    <a href="<?=URL.'/blog/categoria/'.$post->categoria->alias?>"><?=$this->translateDb($post->categoria,'descricao')?></a> · 
                    <span><?=$this->date($post->data_cad,Zend_Date::DATE_LONG)?></span> · 
                    <a href="<?=URL.'/blog/'.$post->alias.'-'.$post->id?>#comentarios"><?=$post->comentarios_count.' '.$this->translate('blog_comentarios')?></a>
                </div>*/?>
                <? $olho = trim($this->translateDb($post,'olho')) ? 
                    $this->translateDb($post,'olho'): 
                    $this->translateDb($post,'body');
                $olho = trim($olho);
                if($j==1){
                    $olho = str_replace('.', '.&lrm;', $olho);
                    $olho = str_replace('!', '!&lrm;', $olho);
                    $olho = str_replace('?', '?&lrm;', $olho);
                }
                ?>
                <div class="post-body"><?=$olho?></div>
                <?//=nl2br(Is_Str::crop(($olho),250))?>
            </div>
        </div>

        <? if((bool)$post->fotos) for($i=0;$i<sizeof($post->fotos);$i++){ ?>
        <?/*<img src="<?=IMG_URL.'/blogs-posts/'.$post->fotos[$i]->path?>" class="img img-<?=$i?>" alt="">*/?>
        <span style="background-image:url(<?=IMG_URL.'/blogs-posts/'.$post->fotos[$i]->path?>)" class="img img-<?=$i?>"></span>
        <? } ?>
        
        <? if($j==1){ ?><br clear="all"><hr class="c2" /><? } ?>
    </div>
    <? } ?>

    <? $this->paginacao->get_page(); if($this->paginacao->_total_pages > 1){ ?>
    <? $t = $this->paginacao->_total_pages; ?>
    <? $p = $this->paginacao->get_page(); ?>
    <div class="blog-paginacao">
        <? if($p != 1){ ?>
        <a href="?page=<?=($p-1)?>" class="proximos"><?=$this->translate('proximo')?></a>
        <? } ?>
        <? if($p != $t){ ?>
        <a href="?page=<?=($p+1)?>" class="anteriores"><?=$this->translate('anterior')?></a>
        <? } ?>
        <?=$this->paginacao->render()?>
    </div>
    <? } ?>

    <? } ?>

    <?//=$this->render('blog/lateral.phtml')?>
</section>