	<? $post = $this->noticia; ?>
	<? $noimg = !((bool)$post->fotos) ? 'noimg' : ''; ?>
    <div class="blog-post <?=$noimg?>">
        <div class="body">
            <h2 class="titulo">
                <?=$this->translateDb($post,'titulo')?>
                <?/*<a href="<?=URL.'/blog/'.$post->alias.'-'.$post->id?>"><?=$this->translateDb($post,'titulo')?></a>*/?>
            </h2>
            <?/*<div class="post-info">
                <a href="<?=URL.'/blog/categoria/'.$post->categoria->alias?>"><?=$this->translateDb($post->categoria,'descricao')?></a> · 
                <span><?=$this->date($post->data_cad,Zend_Date::DATE_LONG)?></span> · 
                <a href="<?=URL.'/blog/'.$post->alias.'-'.$post->id?>#comentarios"><?=$post->comentarios_count.' '.$this->translate('blog_comentarios')?></a>
            </div>*/?>
            <? $olho = trim($this->translateDb($post,'olho')) ? 
                $this->translateDb($post,'olho'): 
                $this->translateDb($post,'body'); ?>
            <?=$olho?>
            <?//=nl2br(Is_Str::crop(($olho),250))?>
        </div>

        <? if((bool)$post->fotos) for($i=0;$i<sizeof($post->fotos);$i++){ ?>
        <img src="<?=IMG_URL.'/blogs-posts/'.$post->fotos[$i]->path?>" class="img img-<?=$i?>" alt="">
        <? } ?>
    </div>

    <?/*<div class="comentarios-lista" id="comentarios">
        <h4><?=$post->comentarios_count.' '.$this->translate('blog_comentarios')?></h4>
        
        <? if((bool)$this->comments){ foreach ($this->comments as $comment) { ?>
        <div class="comentario">
            <p class="info"><?=((bool)$comment->nome) ? $comment->nome : $this->translate('anonimo')?> · <?=@$this->date($comment->data_cad,Zend_Date::DATE_LONG)?></p>
            <p><?=$comment->comentario?></p>
        </div>
        <? }} ?>

        <?/*<div class="comentario">
            <p class="info">Nome da Pessoa · 16 de Janeiro de 2015</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ullam excepturi porro quod debitis ut ipsa inventore, vero ipsum rem, saepe illum minus alias illo. Veritatis officia magnam quae culpa quidem totam blanditiis beatae maxime.</p>
        </div>
        <div class="comentario">
            <p class="info">Nome da Pessoa · 16 de Janeiro de 2015</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ullam excepturi porro quod debitis ut ipsa inventore, vero ipsum rem, saepe illum minus alias illo. Veritatis officia magnam quae culpa quidem totam blanditiis beatae maxime.</p>
        </div>
        <div class="comentario">
            <p class="info">Nome da Pessoa · 16 de Janeiro de 2015</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ullam excepturi porro quod debitis ut ipsa inventore, vero ipsum rem, saepe illum minus alias illo. Veritatis officia magnam quae culpa quidem totam blanditiis beatae maxime.</p>
        </div>//?>
    </div>

    <form action="<?=URL?>/blog/comentar" id="blog-comentario" method="post">
        <input name="nome" id="nome" type="text" placeholder="<?=$this->translate('campo_nome')?>" required>
        <input name="email" id="email" type="email" placeholder="<?=$this->translate('campo_email')?>" required>
        <textarea name="comentario" id="comentario" placeholder="<?=$this->translate('comentario')?>" required></textarea>
        <input type="hidden" name="blog_post_id" value="<?=$post->id?>">
        <span class="status"></span>
        <button type="send" class="submit"><?=$this->translate('comentar')?></button>
        <?/*<div class="g-recaptcha" data-sitekey="6LeIXwsTAAAAADWPJ1v-jWN4Ljdhhg10gF9th2Em"></div>//?>
        <?=recaptcha_get_html(RECAPTCHA_PUBLIC_KEY)?>
    </form>*/?>

    <div class="blog-voltar">
        <a href="<?=URL?>/blog"><?=$this->translate('voltar')?></a>
    </div>